

.bem-item{
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px; 
    min-height: 150px;
    font-size: 13px;
}
.editForm{
  overflow: auto;
}

.bem-item p {
    margin: 5px 0;
  }

.hidden {
    display: none !important;
  }

  .flex {
    display: flex !important;
    
  }
  
  .form-control,
          .form-select {
            max-width: 90%;
          }
      
          .form-label {
            color: black;
            font-weight: 500;
          }

/* container de registro de bens */
 .showContentBens{
    overflow: auto;
} 
.tableBens {
  font-size: 0.85rem;
  color: #000;
}

.tableBens td,
.tableBens th {
  vertical-align: middle;
  white-space: nowrap;
}

.tableBens td {
   background-color:#f8f9fa;
   color: #212529;
   word-break: break-word;
  white-space: normal;
}
.tableBens th{
  background-color:#1f2937;
  color:#ffffff;
}


#listingBens {
  max-height: 75vh;
  overflow: auto;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

  