
body{
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(230, 226, 232);
}
h5{
    font-size: 19px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95vw ;
    height:80vh;
}
.recover{
    margin-left: 4%;
    margin-top: 5%;
    background-color:rgb(131, 152, 136);
    text-align: center;
    height: 40vh;
    width: 80vh;
    border-radius: 15px;
    border: none;
}
#mail{
    width: 180px;
    height: 24px;
    border-radius: 10px;
    border: none;
}

.submit{
   width: 135px;
   height: 27px;
   margin-top: 5%;
   cursor: pointer;
}
