
.hidden {
    display: none !important;
  }

  .flex {
    display: flex !important;
  }

.listingProd{
  max-height: 75vh;
  overflow: auto;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.tableProd{
   font-size: 0.85rem;
  color: #000;
}
.tableProd td{
    background-color:#f8f9fa;
   color: #212529;
   word-break: break-word;
  white-space: normal;
}
.tableProd th {
    background-color: #1f2937;
    color: white;
}
.tableProd td,
.tableProd th{
  vertical-align: middle;
  white-space: nowrap;
}



