.containerAppProd{
    display: none;
    background-color: darkgray;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
    width: 76%;
    height: 550px;
    margin-left: 22%;
    margin-top:1% ;
    flex-direction: column;
    justify-content: space-between;
    border: solid , 2px , white;
    padding: 7px;
    border-radius: 10px;
    overflow: auto;
}

.hidden {
    display: none !important;
  }

  .flex {
    display: flex !important;
  }
.listingProd{
    overflow: auto;
}

.tableProd{
    width: 100%;
    border-collapse: collapse;
    color: black;
    font-size: 14px;
}
.tableProd td{
    background-color:darkgray ;
}



