.btnDevolution{
    width: 90%;
    height: 35px;
    border: 1px solid white;
    cursor: pointer;
    margin-right: 2.5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.btnDevolution:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.devolutionTheDay{
    max-height:400px;
    overflow: auto;
}