
.listingTipoProd{
  max-height: 75vh;
  overflow: auto;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.tableTypeProd{
  font-size: 0.85rem;
  color: #000;
}
.tableTypeProd td{
    background-color:#f8f9fa;
   color: #212529;
   word-break: break-word;
  white-space: normal;
}
.tableTypeProd td , 
.tableTypeProd th{
  vertical-align: middle;
  white-space: nowrap;
}

.tableTypeProd th{
     background-color: #1f2937;
    color: white;
}

.btnMainPageTipoProd{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 40px;
}




