.containerAppFabri{
    display: none;
    background-color: darkgray;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
    width: 76%;
    height: 550px;
    margin-left: 22%;
    margin-top:1% ;
    flex-direction: column;
    justify-content: space-between;
    border: solid , 2px , white;
    padding: 7px;
    border-radius: 10px;
}
.listingFabri{
    overflow: auto;
}
.formRegisterFabricante{
    margin-bottom:33%;
}
.cadFabri{
    cursor: pointer;
    width: 20%;
    height: 26px;
    background-color: lightslategray;
    border: none;
}
.cadFabriEdit{
    cursor: pointer;
    width: 20%;
    height: 26px;
    background-color: lightslategray;
    border: none;
}
.btnOutInitFabri{
    cursor: pointer;
    width: 20%;
    height: 26px;
    background-color: lightslategray;
    border: none;
}
.btnOutInitFabriEdit{
    cursor: pointer;
    width: 20%;
    height: 26px;
    background-color: lightslategray;
    border: none;
}
.btnMainPageFabri{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 3%;
}
.registerFabri{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}

.registerFabri:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.buttonDeleteFabri{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}

.buttonDeleteFabri:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.buttonEditFabri{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}

.buttonEditFabri:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.buttonExitFabri{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.buttonExitFabri:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}


