
.hidden {
    display: none !important;
  }

  .flex {
    display: flex !important;
  }

.listingFabri{
   max-height: 75vh;
  overflow: auto;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.tableFamilyBens{
  font-size: 0.85rem;
  color: #000;
}
.tableFamilyBens td{
    background-color:#f8f9fa;
   color: #212529;
   word-break: break-word;
  white-space: normal;
}
.tableFamilyBens th{
    background-color: #1f2937;
    color: white;
}
.tableFamilyBens td,
.tableFamilyBens th{
  vertical-align: middle;
  white-space: normal;
}
  

