body{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  darkgray;
}
input{
    height: 23px;
}
/* Cabeçalho */
.containerHeader{
    height: 115px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    right: 0;
}

.material-symbols-outlined {
    font-family: sans-serif;
    margin-top: 2.5%;
    font-size: 20px;
    cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.logo{
 width: 130px;
 margin-top:0.5%;
 margin-left: 1%;
}
#photo{
    width: 100px;
    border-radius: 100%;
}
.information{
  width: 60%;
 text-align: center;
}
/* Container principal da aplicaçao */
.containerApp{
    display: flex;
   height:650px;
   background-color: darkgray;
   width: 100%;

}
.workButton{
    display: flex;
    background-color: darkgray;
    width: 19%;
    height: 100%;
    justify-content: flex-end;
    border-radius: 10px;
    border: none;
    position: fixed;
    
}
     
ul{
    width: 100%;
    background-color: darkgray;
    list-style-type: none;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
}
/* Botoes do menu principais */
.btnCadBens{ 
    margin-top: 3%;
    width: 90%;
    height: 30px;
    border: none;
    background-color: lightslategray;
    cursor: pointer;
    margin-right: 2.5%;
}
.btnCadClie{
    width: 90%;
    height: 30px;
    border: none;
    background-color: lightslategray;
    cursor: pointer;
    margin-right: 2.5%;
}
.btnCadForn{
    width: 90%;
    height: 30px;
    border: none;
    background-color: lightslategray;
    cursor: pointer;
    margin-right: 2.5%;
}
.btnCadProd{
    width: 90%;
    height: 30px;
    border: none;
    background-color: lightslategray;
    cursor: pointer;
    margin-right: 2.5%;
}
.btnCadFabri{
    width: 90%;
    height: 30px;
    border: none;
    background-color: lightslategray;
    cursor: pointer;
    margin-right: 2.5%;
}
.btnCadTypeProd{
    width: 90%;
    height: 30px;
    border: none;
    background-color: lightslategray;
    cursor: pointer;
    margin-right: 2.5%;
}
.btnCadMotorista{
    width: 90%;
    height: 30px;
    border: none;
    background-color: lightslategray;
    cursor: pointer;
    margin-right: 2.5%;
}
/* botoes de opções para os bens */

.optionsBens{
    display: flex;
    display:none ;
    margin-left: 20%;
    flex-direction: row;
    gap: 5%;
    width: 25%;
    height: 60px;
    justify-content: center;
    background-color: darkgray; 
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
    margin-top: 2%;
    align-items: center;
}
.listGoods{
    cursor: pointer;
    height: 60%;
    width: 20%;
}

.pageListingBens{
    display: none;
    background-color: darkgray;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
    width: 78%;
    height: 95%;
    margin-left: 20%;
    margin-top:1.2% ;
    flex-direction: column;
    overflow: auto;
}
.error-text{
    color: red;
    display: block;
    margin-top: 0.5%;
    font-size: 13px;
}
.error-field{
    border-color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 20px; /* Aumenta o espaço interno das células */
    text-align: left;
    border: 1px solid #ddd; /* Opcional: para adicionar borda */
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Alterna a cor das linhas */
  }
  
  th {
    background-color:cornflowerblue; /* Cor de fundo do cabeçalho */
    color: white;
  }
  
.listingBens{
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-evenly;
    overflow-y: auto;
}
.bem-item{
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px; 
    min-height: 150px;
    font-size: 13px;
}
.editForm{
    margin-left: 22%;
}
.bem-item p {
    margin: 5px 0;
  }
#formEditBens{
    display: flex;
    flex-direction: column;
    gap: 20px;
   background-color:darkgray;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
   max-width: 900px;
   width: 100%;
   box-sizing: border-box;
   margin-left: 3%;
} 
.btnPageEdit{
    display: flex;
    width:50%;
     gap: 5.5%;
     justify-content: center;
     margin-top: 5%;
}

.submitEditBtn{
    cursor: pointer;
    width: 80px;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:27px;
}

.btnOutPageEdit{
    cursor: pointer;
    width: 80px;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:27px;
}
.btnPageListGoods{
    display: flex;
    height:50px;
    gap: 20px;
    margin-left: 3%;
}
.registerGoods{
    margin-top: 0.5%;
    height: 30px;
    cursor: pointer;
}
.buttonDelete{
    margin-top: 0.5%;
    height: 30px;
    cursor: pointer;
}
.buttonEdit{
    margin-top: 0.5%;
    height: 30px;
    cursor: pointer;
}
.buttonExit{
    margin-top: 0.5%;
    height: 30px;
    cursor: pointer;
}
/* container de registro de bens */
.showContentBens{
    width: 75%;
    display: none;
    background-color: darkgray;
     height: 95%;
    margin-left: 20%;
    margin-top: 1.2%;
    gap: 1.5%;
}

/* tudo sobre os campos bens */

#formRegisterBens{
    display: flex;
   flex-direction: column;
   gap: 20px;
  background-color:darkgray;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
  margin-left: 3%;
}
.formGroup{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5%;
    flex-wrap: wrap;
    width: 90%;
    gap: 5px;
    margin-bottom: 2px; 
    margin-left: 3%;
}
.inputGroup{
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33% - 20px); 
    min-width: 250px; 
    gap: 7px;
}
.inputGroup label{
    font-weight: bold;
    margin-bottom: 5px;
    
}



/* botoes que estao na tela de registro */
.btnOutNext{
    display: flex;
    width:50%;
     gap: 5.5%;
     justify-content: center;
     margin-top: 5%;
}
.btnOut{
    cursor: pointer;
    width: 80px;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:27px;
}
.btnNext{
    cursor: pointer;
    width: 80px;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height: 27px;
}
/* Client */

.optionsClient{
    display: flex;
    display: none;
    margin-left: 20%;
    flex-direction: row;
    gap: 5%;
    width: 25%;
    height: 60px;
    justify-content: center;
    background-color: darkgray; 
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
    margin-top: 2%;
    align-items: center;
}
.registerClient{
    cursor: pointer;
    height: 60%;
    width: 35%;
}
.listYouClient{
    cursor: pointer;
    height: 60%;
    width: 35%;
}
.listingClient{
    display: none;
    background-color: darkgray;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
    width: 78%;
    height: 95%;
}

.showContentClient{
    width: 78%;
    display: none;
    background-color: darkgray;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
     height: 95%;
    margin-left: 20%;
    margin-top: 1.2%;
    gap: 1.5%;
}
.moveAllFieldsClient{
    display: flex;
    max-width:94%;
    flex-direction:column;
}
.moveFieldsClient{
    display: flex;
    justify-content: space-around;
    margin-top: 2.5%;
   flex-wrap: wrap;
   width: 105%;
}
