.containerAppTipoProd{
    display: none;
    background-color: darkgray;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
    width: 76%;
    height: 550px;
    margin-left: 20%;
    margin-top:1.2% ;
    flex-direction: column;
    justify-content: space-between;
}
.listingTipoProd{
    overflow: auto;
}
.btnMainPageTipoProd{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 3%;
}
.registerTipoProd{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}

.registerTipoProd:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.buttonDeleteTipoProd{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}

.buttonDeleteTipoProd:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.buttonEditTipoProd{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}

.buttonEditTipoProd:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.buttonExitTipoProd{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}

.buttonExitTipoProd:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.btnOutInitTp{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
}
.cadTp{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
}
.cadTpEdit{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
}
.btnOutInitTpEdit{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
}

