<!DOCTYPE html>
<html lang="pt-BR ">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="./mainGoods/mainGoods.css" />
    <link rel="stylesheet" href="./mainClient/mainClient.css" />
    <link rel="stylesheet" href="./mainForn/mainForn.css" />
    <link rel="stylesheet" href="./mainProd/mainProd.css" />
    <link rel="stylesheet" href="./mainFabe/mainFabri.css" />
    <link rel="stylesheet" href="./mainTypeProd/mainTypeProd.css" />
    <link rel="stylesheet" href="./mainDrive/mainDriver.css" />
    <link rel="stylesheet" href="./mainAutomovel/mainAuto.css" />
    <link rel="stylesheet" href="../screenLocation/location.css" />
    <link rel="stylesheet" href="../screenLogistics/logistics.css" />
    <link rel="stylesheet" href="../screenDelivery/mainDelivery.css" />
    
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Caçamba</title>
  </head>

  <body>
    <section
      class="container-fluid  bg-opacity-75 text-white d-flex flex-wrap align-items-center justify-content-between px-3 px-md-4 position-sticky top-0 rounded-3 "
      style="height: auto; min-height: 100px; z-index: 1030"
    >
      <!-- Logo -->
      <div
        class="d-flex align-items-center mb-2 mb-md-0"
        style="margin-left: 1%"
      >
        <img
          src="../img/sgttec2.jpg"
          alt="logo"
          id="photo"
          class="rounded-circle border border-white me-2 me-md-3"
          style="width: 80px; max-width: 100px"
        />
        <h5 class="mb-0">SGTTEC</h5>
      </div>

      <!-- Informação -->
      <div
        class="d-none d-sm-block  bg-opacity-50 text-white text-center rounded-pill px-3 px-md-4 py-2 information">

        Sessão ativa
      </div>
    </section>

    <main id="ContainerMainApp">
      <div class="bg-secondary  p-3 workButton">
        <ul class="nav flex-column mt-3 mt-md-5">
          <!-- Botão Cadastros com submenu colapsável -->
          <li class="nav-item mb-2">
            <button
              class="btn btn-outline-light w-100"
              data-bs-toggle="collapse"
              data-bs-target="#cadastrosMenu"
              aria-expanded="false"
              aria-controls="cadastrosMenu"
              id="btnStartRegister"
            >
              Cadastros
            </button>
          </li>

          <!-- Submenu dos cadastros -->
          <div class="collapse" id="cadastrosMenu">
            <ul class="nav flex-column ms-2 w-100">
              <li class="nav-item my-1">
                <button
                  id="btnLoadBens"
                  class="btn btn-submenu btn-outline-light btnCadBens w-100"
                >
                  Bens
                </button>
              </li>
              <li class="nav-item my-1">
                <button
                  class="btn btn-submenu btn-outline-light btnCadClie w-100"
                >
                  Clientes
                </button>
              </li>
              <li class="nav-item my-1">
                <button
                  class="btn btn-submenu btn-outline-light btnCadForn w-100"
                >
                  Fornecedor
                </button>
              </li>
              <li class="nav-item my-1">
                <button
                  class="btn btn-submenu btn-outline-light btnCadProd w-100"
                >
                  Produto
                </button>
              </li>
              <li class="nav-item my-1">
                <button
                  class="btn btn-submenu btn-outline-light btnCadFabri w-100"
                >
                  Família de Bens
                </button>
              </li>
              <li class="nav-item my-1">
                <button
                  class="btn btn-submenu btn-outline-light btnCadTypeProd w-100"
                >
                  Tipo do Produto
                </button>
              </li>
              <li class="nav-item my-1">
                <button
                  class="btn btn-submenu btn-outline-light btnCadMotorista w-100"
                >
                  Motorista
                </button>
              </li>
              <li class="nav-item my-1">
                <button
                  class="btn btn-submenu btn-outline-light btnCadAutomo w-100"
                >
                  Veículos
                </button>
              </li>
            </ul>
          </div>

          <!-- Outros botões principais -->
          <li class="nav-item mb-2">
            <button
              class="btn btn-outline-light w-100 btnRegisterLocation"
              onclick="frontLocation()"
            >
              Locação
            </button>
          </li>

          <li class="nav-item mb-2">
            <button
              class="btn btn-outline-light w-100 btnLogistic"
              onclick="locationPendente()"
            >
              Logística
            </button>
          </li>

          <li class="nav-item mb-2">
            <button class="btn btn-outline-light w-100 delivery">
              Entrega
            </button>
          </li>
        </ul>

        <div class="text-center mt-3">
          <span class="material-symbols-outlined text-muted">sync</span>
        </div>
      </div>

      <section id="mainContent"> 
        <!-- CONTEUDO DA MINHA PAGINA -->
      </section>

     


      <!-- Cadastro de automovel -->
      
        <!-- <div class="formCadAuto" style="display: none">
          <form class="foorm">
            <div class="formGroup">
              <div class="inputGroup">
                <label for="codeAuto">Codigo</label>
                <input
                  type="text"
                  name="codeAuto"
                  id="codeAuto"
                  placeholder="Codigo"
                  maxlength="15"
                />
              </div>

              <div class="inputGroup">
                <label for="placAuto">Placa</label>
                <input
                  type="text"
                  name="placAuto"
                  id="placAuto"
                  placeholder="Placa"
                  maxlength="10"
                />
              </div>

              <div class="inputGroup">
                <label for="chassAuto">Chassi</label>
                <input
                  type="text"
                  name="chassAuto"
                  id="chassAuto"
                  placeholder="Chassi"
                  maxlength="20"
                />
              </div>

              <div class="inputGroup">
                <label for="renaAuto">Renavam</label>
                <input
                  type="text"
                  name="renaAuto"
                  id="renaAuto"
                  placeholder="Renavam"
                  maxlength="20"
                />
              </div>

              <div class="inputGroup">
                <label for="macaAuto">Marca</label>
                <input
                  type="text"
                  name="macaAuto"
                  id="macaAuto"
                  placeholder="Marca"
                  maxlength="25"
                />
              </div>

              <div class="inputGroup">
                <label for="modeAuto">Modelo</label>
                <input
                  type="text"
                  name="modeAuto"
                  id="modeAuto"
                  placeholder="Modelo"
                  maxlength="30"
                />
              </div>

              <div class="inputGroup">
                <label for="corAuto">Cor</label>
                <input
                  type="text"
                  name="corAuto"
                  id="corAuto"
                  placeholder="Cor"
                  maxlength="20"
                />
              </div>

              <div class="inputGroup">
                <label for="tpCombusAuto">Tipo de Combustivel</label>
                <input
                  type="text"
                  name="tpCombusAuto"
                  id="tpCombusAuto"
                  placeholder="Tipo de Combustivel"
                  maxlength="20"
                />
              </div>

              <div class="inputGroup">
                <label for="kmAtAuto">Km atual</label>
                <input
                  type="number"
                  name="kmAtAuto"
                  id="kmAtAuto"
                  placeholder="Quilometragem Atual"
                  maxlength="8"
                />
              </div>

              <div class="inputGroup">
                <label for="motoAuto">Motorista</label>
                <select name="motoAuto" id="motoAuto">
                  <option value="">Selecione...</option>
                </select>
              </div>

              <div class="inputGroup">
                <label for="statAuto">Status</label>
                <select name="statAuto" id="statAuto">
                  <option value="">Selecione...</option>
                  <option value="Ativo">Ativo</option>
                  <option value="Desativo">Desativo</option>
                </select>
              </div>

              <div class="inputGroup">
                <label for="dtCadAuto">Data do cadastro</label>
                <input type="date" name="dtCadAuto" id="dtCadAuto" />
              </div>

              <div class="btnOutNext">
                <button class="cadAutomo">Cadastrar</button>
                <button class="btnOutCadAuto">Voltar</button>
              </div>
            </div>
          </form>
        </div> -->

      
      <!-- sesão de locação  -->
      <section class="containerAppLocation">
        <div class="tableLocation">
          <!-- Informações de locação -->
        </div>

        <div class="btnInitPageMainLoc">
          <button class="registerLocation">incluir</button>
          <button class="buttonDeleteLocation">Excluir</button>
          <button class="buttonEditLocation">Editar</button>
          <button class="buttonExitLocation">Voltar</button>
        </div>

        <main class="content" style="display: none">
          <div class="searchClient" style="display: none">
            <!-- Informações caso tenha mais e um cliente -->
          </div>

          <div id="formClient">
            <div class="formGroup">
              <div class="inputGroupSearchClient">
                <label for="client"> <b>Pesquise o Cliente</b></label>
                <div class="inputWrapper">
                  <input
                    type="text"
                    name="client"
                    id="client"
                    placeholder="CPF ou Nome"
                    required
                  />
                  <span class="material-symbols-outlined" id="search">
                    search
                  </span>
                  <button type="button" class="locCadClient">
                    Cadastrar Cliente
                  </button>
                </div>
              </div>

              <div class="Numeric">
                <label for="numeroLocation"> <b>Locação</b></label>
                <input
                  type="number"
                  name="numeroLocation"
                  id="numeroLocation"
                  placeholder="Locação"
                  readonly
                />
              </div>

              <div class="inputGroupDataLoc">
                <label for="dataLoc"> <b>Data da locação</b></label>
                <input
                  type="datetime-local"
                  name="dataLoc"
                  id="dataLoc"
                  required
                />
              </div>

              <div class="inputGroupDataEvolu">
                <label for="DataDevo"> <b>Data de devolução</b></label>
                <input type="date" name="DataDevo" id="DataDevo" required />
              </div>

              <div class="inputGroupPagament">
                <label for="pagament"> <b>Forma de pagamento</b></label>

                <select name="pagament" id="pagament">
                  <option value="">Selecione...</option>
                  <option value="Pix">Pix</option>
                  <option value="Credito">Credito</option>
                  <option value="Debito">Debito</option>
                  <option value="Boleto">Boleto</option>
                </select>
              </div>
            </div>
          </div>

          <div class="infoClient">
            <label for="nameClient"> <b>Nome do Cliente</b></label>
            <input
              type="text"
              id="nameClient"
              placeholder="Nome do cliente"
              readonly
              required
            />

            <label for="cpfClient"> <b>CPF do Cliente</b></label>
            <input
              type="text"
              id="cpfClient"
              placeholder="CPF do cliente"
              readonly
              required
            />

            <label for="ruaClient"> <b>Rua do Cliente</b></label>
            <input
              type="text"
              id="ruaClient"
              placeholder="Rua do cliente"
              readonly
              required
            />

            <label for="cityClient"> <b>Cidade do Cliente</b></label>
            <input
              type="text"
              id="cityClient"
              placeholder="Cidade do cliente"
              readonly
              required
            />

            <label for="cepClient"> <b>CEP do Cliente</b></label>
            <input
              type="text"
              id="cepClient"
              placeholder="CEP do cliente"
              readonly
              required
            />

            <label for="mailClient"> <b>E-mail do Cliente</b></label>
            <input
              type="text"
              id="mailClient"
              placeholder="E-mail do cliente"
              readonly
              required
            />
          </div>

          <div class="familyBens">
            <div class="tableGrid">
              <label for="codeBen1">Família de bens</label>
              <label for="prod1">Nome da familia </label>
              <label for="quantidade1">Quantidade</label>
              <label for="descricao1">Observação</label>
              <label for="dataInicio1">Data Início</label>
              <label for="dataFim1">Data Fim</label>

              <select id="family1">
                <option value="">Selecione...</option>
                <!-- informações  -->
              </select>
              <input type="text" id="produto1" placeholder="Produto" readonly />
              <input
                type="number"
                id="quantidade1"
                placeholder="quantidade"
                required
              />
              <input
                type="text"
                id="observacao1"
                placeholder="Ex.: TV, Computadores"
              />
              <input type="date" id="dataInicio1" required />
              <input type="date" id="dataFim1" required />

              <select id="family2">
                <option value="">Selecione...</option>
                <!-- informações  -->
              </select>
              <input type="text" id="produto2" placeholder="produto" readonly />
              <input
                type="number"
                id="quantidade2"
                placeholder="Ex.: 10"
                required
              />
              <input
                type="text"
                id="observacao2"
                placeholder="Ex.: Eletrônicos"
              />
              <input type="date" id="dataInicio2" required />
              <input type="date" id="dataFim2" required />

              <select id="family3">
                <!-- informações  -->
                <option value="">Selecione...</option>
              </select>
              <input type="text" id="produto3" placeholder="Produto" readonly />
              <input
                type="number"
                id="quantidade3"
                placeholder="Ex.: 10"
                required
              />
              <input
                type="text"
                id="observacao3"
                placeholder="Ex.: TV, Computadores"
              />
              <input type="date" id="dataInicio3" required />
              <input type="date" id="dataFim3" required />

              <select id="family4">
                <!-- informações  -->
                <option value="">Selecione...</option>
              </select>
              <input type="text" id="produto4" placeholder="Produto" readonly />
              <input
                type="number"
                id="quantidade4"
                placeholder="Ex.: 10"
                required
              />
              <input
                type="text"
                id="observacao4"
                placeholder="Ex.: TV, Computadores"
              />
              <input type="date" id="dataInicio4" required />
              <input type="date" id="dataFim4" required />
            </div>

            <div class="formGroupBtn">
              <button class="finish" onclick=" handleSubmit()">
                Finalizar
              </button>
              <button class="outLocation">Voltar</button>
            </div>
          </div>
        </main>

        <!-- Edição de locação -->

        <main class="contentEditlocation" style="display: none">
          <!-- <h3>Informações do Cliente</h3> -->
          <div id="formClient">
            <div class="formGroup">
              <div class="Numeric">
                <label for="numeroLocationEdit"> <b>Locação</b></label>
                <input
                  type="number"
                  name="numeroLocation"
                  id="numeroLocationEdit"
                  placeholder="Locação"
                  readonly
                />
              </div>

              <div class="inputGroupDataLoc">
                <label for="dataLocEdit"> <b>Data da locação</b></label>
                <input
                  type="datetime-local"
                  name="dataLocEdit"
                  id="dataLocEdit"
                  required
                />
              </div>

              <div class="inputGroupDataEvolu">
                <label for="DataDevoEdit"> <b>Data de devolução</b></label>
                <input
                  type="date"
                  name="DataDevoEdit"
                  id="DataDevoEdit"
                  required
                />
              </div>

              <div class="inputGroupPagament">
                <label for="pagamentdit"> <b>Forma de pagamento</b></label>

                <select name="pagament" id="pagamentEdit">
                  <option value="">Selecione...</option>
                  <option value="Pix">Pix</option>
                  <option value="Credito">Credito</option>
                  <option value="Debito">Debito</option>
                  <option value="Boleto">Boleto</option>
                </select>
              </div>
            </div>
          </div>

          <div class="infoClient">
            <label for="nameClientEdit"> <b>Nome do Cliente</b></label>
            <input
              type="text"
              id="nameClientEdit"
              placeholder="Nome do cliente"
              readonly
              required
            />

            <label for="ruaClientEdit"> <b>CPF do Cliente</b></label>
            <input
              type="number"
              id="cpfClientEdit"
              placeholder="CPF do cliente"
              readonly
              required
            />

            <label for="ruaClient"> <b>Rua do Cliente</b></label>
            <input
              type="text"
              id="ruaClientEdit"
              placeholder="Rua do cliente"
              readonly
              required
            />

            <label for="cityClientEdit"> <b>Cidade do Cliente</b></label>
            <input
              type="text"
              id="cityClientEdit"
              placeholder="Cidade do cliente"
              readonly
              required
            />

            <label for="cepClientEdit"> <b>CEP do Cliente</b></label>
            <input
              type="text"
              id="cepClientEdit"
              placeholder="CEP do cliente"
              readonly
              required
            />

            <label for="mailClientEdit"> <b>E-mail do Cliente</b></label>
            <input
              type="text"
              id="mailClientEdit"
              placeholder="E-mail do cliente"
              readonly
              required
            />
          </div>

          <!--  Familia de Bens -->

          <div class="familyBens">
            <div class="tableGrid">
              <label for="codeBen1Edit">Família de bens</label>
              <label for="prod1Edit">Nome da familia </label>
              <label for="quantidade1Edit">Quantidade</label>
              <label for="descricao1Edit">Observação</label>
              <label for="dataInicio1Edit">Data Início</label>
              <label for="dataFim1Edit">Data Fim</label>

              <select id="family1Edit">
                <option value="">Selecione...</option>
                <!-- informações  -->
              </select>
              <input
                type="text"
                id="produto1Edit"
                placeholder="Produto"
                readonly
              />
              <input
                type="number"
                id="quantidade1Edit"
                placeholder="quantidade"
                required
              />
              <input
                type="text"
                id="observacao1Edit"
                placeholder="Ex.: TV, Computadores"
              />
              <input type="date" id="dataInicio1Edit" required />
              <input type="date" id="dataFim1Edit" required />

              <select id="family2Edit">
                <option value="">Selecione...</option>
                <!-- informações  -->
              </select>
              <input
                type="text"
                id="produto2Edit"
                placeholder="produto"
                readonly
              />
              <input
                type="number"
                id="quantidade2Edit"
                placeholder="Ex.: 10"
                required
              />
              <input
                type="text"
                id="observacao2Edit"
                placeholder="Ex.: Eletrônicos"
              />
              <input type="date" id="dataInicio2Edit" required />
              <input type="date" id="dataFim2Edit" required />

              <select id="family3Edit">
                <!-- informações  -->
                <option value="">Selecione...</option>
              </select>
              <input
                type="text"
                id="produto3Edit"
                placeholder="Produto"
                readonly
              />
              <input
                type="number"
                id="quantidade3Edit"
                placeholder="Ex.: 10"
                required
              />
              <input
                type="text"
                id="observacao3Edit"
                placeholder="Ex.: TV, Computadores"
              />
              <input type="date" id="dataInicio3Edit" required />
              <input type="date" id="dataFim3Edit" required />

              <select id="family4Edit">
                <!-- informações  -->
                <option value="">Selecione...</option>
              </select>
              <input
                type="text"
                id="produto4Edit"
                placeholder="Produto"
                readonly
              />
              <input
                type="number"
                id="quantidade4Edit"
                placeholder="Ex.: 10"
                required
              />
              <input
                type="text"
                id="observacao4Edit"
                placeholder="Ex.: TV, Computadores"
              />
              <input type="date" id="dataInicio4Edit" required />
              <input type="date" id="dataFim4Edit" required />
            </div>

            <div class="formGroupBtn">
              <button class="btnUpdateLocation">Atualizar</button>
              <button class="outLocationEdit">Voltar</button>
            </div>
          </div>
        </main>
        <!--  -->

        <div class="informationClient" style="display: none">
          <!-- informação do client na tabela -->
        </div>

        <div class="LocRegisterClient" style="display: none">
          <form id="formRegisterClientLoc">
            <div class="formGroup">
              <div class="inputGroup">
                <label for="clieCodeLoc">Codigo</label>
                <input
                  type="text"
                  name="clieCodeLoc"
                  id="clieCodeLoc"
                  placeholder="Codigo"
                  maxlength="15"
                />
              </div>

              <div class="inputGroup">
                <label for="clieNameLoc">Nome</label>
                <input
                  type="text"
                  name="clieNameLoc"
                  id="clieNameLoc"
                  placeholder="Nome"
                  maxlength="80"
                />
              </div>

              <div class="inputGroup">
                <label for="cpfClientLoc">CPF</label>
                <input
                  type="text"
                  name="cpfClientLoc"
                  id="cpfClientLoc"
                  placeholder="CPF"
                  maxlength="14"
                />
              </div>

              <div class="inputGroup">
                <label for="dtCadLoc">Data do cadastro</label>
                <input type="date" name="dtCadLoc" id="dtCadLoc" />
              </div>

              <div class="inputGroup">
                <label for="dtNascLoc">Data de Nascimento</label>
                <input type="date" name="dtNascLoc" id="dtNascLoc" />
              </div>

              <div class="inputGroup">
                <label for="clieCeluLoc">Celular</label>
                <input
                  type="text"
                  name="clieCeluLoc"
                  id="clieCeluLoc"
                  placeholder="Celular"
                  maxlength="11"
                />
              </div>

              <div class="inputGroup">
                <label for="clieCityLoc">Cidade</label>
                <input
                  type="text"
                  name="clieCityLoc"
                  id="clieCityLoc"
                  placeholder="Cidade"
                  maxlength="25"
                />
              </div>

              <div class="inputGroup">
                <label for="clieEstdLoc">Estado</label>
                <input
                  type="text"
                  name="clieEstdLoc"
                  id="clieEstdLoc"
                  placeholder="Estado"
                  maxlength="20"
                />
              </div>

              <div class="inputGroup">
                <label for="clieRuaLoc">Rua</label>
                <input
                  type="text"
                  name="clieRuaLoc"
                  id="clieRuaLoc"
                  placeholder="RUA"
                  maxlength="40"
                />
              </div>

              <div class="inputGroup">
                <label for="clieCepLoc">Cep</label>
                <input
                  type="text"
                  name="clieCepLoc"
                  id="clieCepLoc"
                  placeholder="CEP"
                  maxlength="10"
                />
              </div>

              <div class="inputGroup">
                <label for="clieMailLoc">E-mail</label>
                <input
                  type="email"
                  name="clieMailLoc"
                  id="clieMailLoc"
                  placeholder="E-mail"
                  maxlength="35"
                />
              </div>

              <div class="btnOutNext">
                <button class="btnRegisterClientLoc">Cadastrar</button>
                <button class="btnOutInitLoc">Voltar</button>
              </div>
            </div>
          </form>
        </div>

        <div id="contrato" style="display: none">
          <!-- Contrato de locação front-->
        </div>
      </section>

      <!-- sesão Buscar locação -->

      <div class="searchLocation" style="display: none">
        <h4>Escolha um formato de Pesquisa:</h4>

        <label for="numberLocation">Numero da locação</label>
        <input type="number" name="numberLocation" id="numberLocation" />

        <label for="statusLocation">Status</label>
        <input type="text" name="statusLocation" id="statusLocation" />

        <label for="nameClient"> Nome do Cliente</label>
        <input type="text" name="nameClient" id="nameClientSearch" />
        <br />
        <div class="btnMainTheSearch">
          <button class="submitSearchLocation" onclick=" filterTable()">
            Pesquisar
          </button>
          <button class="outPageSearchLocation">Voltar</button>
        </div>
      </div>

      <!-- Logistica -->

      <section class="containerLogistica" style="display: none">
        <div class="logisticsMainTop">
          <div class="orders">
            <!-- table de Necessidade -->
          </div>
          <button class="btn-filter" id="btnFilter" title="Filtrar Locações ">
            <i class="bi bi-filter"></i>
          </button>

          <div class="need">
            <h3>Necessidade vs Disponibilidade</h3>
          </div>
        </div>

        <div class="logisticsMainBottom">
          <div class="validadeFamily"></div>
          <div class="linkDrive">
            <h3>Motoristas</h3>
          </div>
        </div>
      </section>

      <section class="modal" style="display: none">
        <!-- informações para lincar o bem na locação -->
      </section>

      <!--  Entrega da locação -->

      <section class="deliveryFinish" style="display: none">
        <div class="containerTableDelivery">
          <h2>Lista de Locações</h2>
          <table id="tableDelivery" style="display: flex">
            <thead>
              <tr>
                <th>Código</th>
                <th>ID do bem</th>
                <th>Nome Cliente</th>
                <th>Numero locação</th>
                <th>Data e Hora</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>

          <button class="btnOutPageListLocationForDelivery">Voltar</button>
        </div>
        <div class="containerDelivery"></div>
      </section>
    </main>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="maskFields.js"></script>
    <script src="validation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./mainGoods/mainGoods.js"></script>
    <script type="module" src="./mainClient/mainClient.js"></script>
    <script src="./mainForn/mainForn.js"></script>
    <script src="./mainProd/mainProd.js"></script>
    <script src="./mainFabe/mainFabri.js"></script>
    <script src="./mainTypeProd/mainTypeProd.js"></script>
    <script src="./mainDrive/mainDriver.js"></script>
    <script src="./mainAutomovel/mainAuto.js"></script>
    <script src="../screenLocation/toDoLocation.js"></script>
    <script src="../screenLocation/locationFinish.js"></script>
    <script src="../screenLogistics/mainLogistics.js"></script>
    <script src="../screenDelivery/mainDelivery.js"></script>
    <script src="main.js"></script>

    <!-- <script src="/assets/screenMain/mainGoods/mainGoods.js"></script> -->
  </body>
</html>
