.containerAppFabri{
    display: none;
    background-color: darkgray;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
    width: 76%;
    height: 550px;
    margin-left: 20%;
    margin-top:1.2% ;
    flex-direction: column;
    justify-content: space-between;
}
.formRegisterFabricante{
    margin-bottom:33%;
}
.cadFabri{
    cursor: pointer;
    width: 20%;
    height: 26px;
    background-color: lightslategray;
    border: none;
}

.btnOutInitFabri{
    cursor: pointer;
    width: 20%;
    height: 26px;
    background-color: lightslategray;
    border: none;
}
.btnOutInitFabriEdit{
    cursor: pointer;
    width: 20%;
    height: 26px;
    background-color: lightslategray;
    border: none;
}
.btnMainPageFabri{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 3%;
}
.registerFabri{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
}
.buttonDeleteFabri{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
}
.buttonEditFabri{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
}
.buttonExitFabri{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
}
.buttonEditDriver{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
}