<!DOCTYPE html>
<html lang="pt-BR ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=exit_to_app" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"></script>


    

       
    <title>Screen main</title>
</head>

<body>
    <section class="containerHeader">
        <div class="logo">
            <img src="../img/sgttec2.jpg" alt="logo" id="photo">
        </div>

        <div class="information">
            <h3>Informaçoes</h3>
        </div>

    </section>

    <section class="containerApp">
        <div class="workButton">
            <ul>
                <li><button class="btnCadBens">Bens</button></li>
                <br>
                <li><button class="btnCadClie">Clientes</button></li>
                <br>
                <li><button class="btnCadForn">Fornecedor</button></li>
                <br>
                <li><button class="btnCadProd">Produto</button></li>
                <br>
                <li><button class="btnCadFabri">Fabricante</button></li>
                <br>
                <li><button class="btnCadTypeProd"> Tipo do produto</button></li>
                <br>
                <li><button class="btnCadMotorista">Motorista</button></li>
            </ul>
            <span class="material-symbols-outlined">
                exit_to_app
            </span>
        </div>

        
        <div class="pageListingBens">
         
              <div class="listingBens">

                 <!-- informações -->
                 
              </div>

            <div class="btnPageListGoods">
                <button class="registerGoods">Incluir</button>
                <button class="buttonEdit" data-benscode = '101'>Editar</button>
                <button class="buttonDelete">Excluir</button>
                <button class="buttonExit">Voltar</button>
            </div>
        </div>

            <div class="editForm" style="display: none;">
               <form id="formEditBens">
                
                <div class="formGroup">               

                    <div class="inputGroup">
                       <label for="name">Codigo</label>
                       <input type="text" name="code" id="code" placeholder="bensCode" maxlength="15" readonly>
                    </div> 

                    <div class="inputGroup">
                          <label for="name">Nome</label>
                          <input type="text" name="name" id="name" placeholder="bensnome" maxlength="80" >
                   </div>

                   <div class="inputGroup">
                       <label for="placa"> Cofa </label>
                       <input type="text" name="cofa" id="cofa" placeholder="benscofa" maxlength="5" >
                  </div>

                  <div class="inputGroup">
                      <label for="model">Modelo</label>
                       <input type="text" name="model" id="model" placeholder="bensMode" maxlength="20"  >
                  </div>

                   <div class="inputGroup">
                       <label for="serial">Numero de Serie</label>
                       <input type="number" name="serial" id="serial" placeholder="bensNuse" maxlength="20">
                   </div>
                      
                   <div class="inputGroup">
                        <label for="placa">Placa </label>
                        <input type="text" name="placa" id="placa" placeholder="bensPlac" maxlength="7" >
                  </div>
               
                   <div class="inputGroup">
                        <label for="Valor">bensAnmo</label>
                        <input type="text" name="bensAnmo" id="bensAnmo" placeholder="bensAnmo" maxlength="4">
                   </div>
                      
                   <div class="inputGroup">
                       <label for="dtCompra" > Data da compra</label>
                       <input type="date" name="dtCompra" id="dtCompra"  class="fields" >
                    </div>
                    
                   <div class="inputGroup">
                        <label for="Valor">Valor compra</label>
                        <input type="text" name="valor" id="valorCp" placeholder="bensVacp" maxlength="13">
                    </div>

                   <div class="inputGroup">
                       <label for="ntFiscal">Nota Fiscal</label>
                       <input type="number" name="ntFiscal" id="ntFiscal" placeholder="bensNunf" maxlength="11" >
                   </div>
                      
                   <div class="inputGroup">
                        <label for="cofo">codigo Fornecedor </label>
                        <input type="text" name="cofo" id="cofo" placeholder="bensCofo" maxlength="15" >
                    </div>

                    <div class="inputGroup">
                        <label for="kmAtual">KM Atual </label>
                        <input type="number" name="kmAtual" id="kmAtual"
                           placeholder="bensKmat" maxlength="7" >
                    </div>
               
                    <div class="inputGroup">
                       <label for="dtKm">Data do KM</label>
                       <input type="date" name="dtKm" id="dtKm">
                    </div>
                          
                    <div class="inputGroup">
                           <label for="status">Status</label>
                        <select name="status" id="status">
                           <option value="EL">EL</option>
                           <option value="SC">SC</option>
                           <option value="SA">SA</option>
                           <option value="AC">AC</option>
                           <option value="TC">TC</option>
                           <option value="CA">CA</option>
                        </select>
                   </div>

                    <div class="inputGroup">
                         <label for="dtStatus">Data do Status</label>
                         <input type="date" name="dtStatus" id="dtStatus">
                    </div>
                      
                    <div class="inputGroup">
                        <label for="hrStatus">Hora do Status</label>
                        <input type="time" name="hrStatus" id="hrStatus" placeholder="bensHrus">
                    </div>
                    
                    <div class="inputGroup">
                        <label for="chassi">Chassi</label>
                        <input type="number" name="chassi" id="chassi" placeholder="Chassi" maxlength="20">
                    </div>
                  
                    <div class="inputGroup">
                       <label for="Cor" id="COR">Cor</label>
                       <input type="text" name="cor" id="cor" placeholder="bensCore" maxlength="10">
                   </div>

                   <div class="inputGroup">
                       <label for="nuMO" id="nuMO">nuMO </label>
                       <input type="number" name="nuMO" id="nuMO" placeholder="bensNumo" maxlength="15">
                   </div>

                   <div class="inputGroup">
                          <label for="rena">Renavam</label>
                          <input type="number" name="rena" id="rena" placeholder="bensRena" maxlength="15">
                   </div>

                   <div class="inputGroup">
                          <label for="bensCtep">bensCtep </label>
                           <input type="text" name="bensCtep" id="bensCtep" placeholder="bensCtep" maxlength="40">
                   </div>

                   <div class="inputGroup">
                           <label for="fabri">Ativo</label>
                           <select name="bensAtiv" id="bensAtiv">
                               <option value="S">Sim</option>
                               <option value="N">Nao</option>
                           </select>
                   </div>
                  
                   <div class="inputGroup">
                         <label for="alug">Alugado</label>
                            <select name="alug" id="alug">
                               <option value="S">Sim</option>
                               <option value="N">Nao</option>
                            </select>
                   </div>
               
                    <div class="inputGroup">
                       <label for="exe">Valor Alugado</label>
                       <input type="number" name="valorAlug" id="valorAlug" placeholder="bensVaal" maxlength="13" >
                   </div>
                      
                   <div class="inputGroup">
                       <label for="fabri">Fabricante</label>
                           <input type="text" name="fabri" id="fabri" placeholder="bensFabr" maxlength="25">
                   </div>
                <div class="btnPageEdit">
                     <button class="submitEditBtn">Salvar</button>
                     <button class="btnOutPageEdit">Voltar</button>
                </div>
              </div>      
            </form>
        </div>



        <div class="showContentBens">
             <form id="formRegisterBens">
                 
                    <div class="formGroup">               

                         <div class="inputGroup">
                            <label for="name">Codigo</label>
                            <input type="text" name="code" id="code" placeholder="Codigo" maxlength="15">
                         </div> 

                         <div class="inputGroup">
                               <label for="name">Nome</label>
                               <input type="text" name="name" id="name" placeholder="Nome" maxlength="80" >
                        </div>

                        <div class="inputGroup">
                            <label for="cofa"> Cofa </label>
                            <input type="text" name="cofa" id="cofa" placeholder="Codigo do Fabricante" maxlength="5" >
                       </div>

                       <div class="inputGroup">
                           <label for="model">Modelo</label>
                            <input type="text" name="model" id="model" placeholder="Modelo" maxlength="20"  >
                       </div>

                        <div class="inputGroup">
                            <label for="serial">Numero de Serie</label>
                            <input type="number" name="serial" id="serial" placeholder="Numero de Serie" maxlength="20">
                        </div>
                           
                        <div class="inputGroup">
                             <label for="placa">Placa </label>
                             <input type="text" name="placa" id="placa" placeholder="Placa" maxlength="7" >
                       </div>
                    
                        <div class="inputGroup">
                             <label for="Valor">bensAnmo</label>
                             <input type="text" name="bensAnmo" id="bensAnmo" placeholder="bensAnmo" maxlength="4">
                        </div>
                           
                        <div class="inputGroup">
                            <label for="dtCompra" > Data da compra</label>
                            <input type="date" name="dtCompra" id="dtCompra"  class="fields" >
                         </div>
                         
                        <div class="inputGroup">
                             <label for="Valor">Valor compra</label>
                             <input type="number" name="valor" id="valorCp" placeholder="R$ 0,00" maxlength="13">
                         </div>

                        <div class="inputGroup">
                            <label for="ntFiscal">Nota Fiscal</label>
                            <input type="number" name="ntFiscal" id="ntFiscal" placeholder="Nota Fiscal" maxlength="11" >
                        </div>
                           

                        <div class="inputGroup">
                             <label for="cofo">codigo Fornecedor </label>
                             <input type="text" name="cofo" id="cofo" placeholder="Codigo do Fornecedor" maxlength="15" >
                         </div>

                         <div class="inputGroup">
                             <label for="kmAtual">KM Atual </label>
                             <input type="number" name="kmAtual" id="kmAtual"
                                placeholder="Km Atua" maxlength="7" >
                         </div>
                    
                         <div class="inputGroup">
                            <label for="dtKm">Data do KM</label>
                            <input type="date" name="dtKm" id="Data do Km">
                         </div>
                               
                         <div class="inputGroup">
                                <label for="status">Status</label>
                             <select name="status" id="status">
                                <option value="EL">EL</option>
                                <option value="SC">SC</option>
                                <option value="SA">SA</option>
                                <option value="AC">AC</option>
                                <option value="TC">TC</option>
                                <option value="CA">CA</option>
                             </select>
                        </div>

                         <div class="inputGroup">
                              <label for="dtStatus">Data do Status</label>
                              <input type="date" name="dtStatus" id="dtStatus">
                         </div>
                           
                         <div class="inputGroup">
                             <label for="hrStatus">Hora do Status</label>
                             <input type="time" name="hrStatus" id="hrStatus" >
                         </div>
                         
                         <div class="inputGroup">
                             <label for="chassi">Chassi</label>
                             <input type="number" name="chassi" id="chassi" placeholder="Chassi" maxlength="20">
                         </div>
                       
                         <div class="inputGroup">
                            <label for="Cor" id="COR">Cor</label>
                            <input type="text" name="cor" id="cor" placeholder="Cor" maxlength="10">
                        </div>

                        <div class="inputGroup">
                            <label for="nuMO" id="nuMO">nuMO </label>
                            <input type="number" name="nuMO" id="nuMO" placeholder="bensNumo" maxlength="15">
                        </div>

                        <div class="inputGroup">
                               <label for="rena">Renavam</label>
                               <input type="number" name="rena" id="rena" placeholder="Renavam" maxlength="15">
                        </div>

                        <div class="inputGroup">
                               <label for="bensCtep">bensCtep </label>
                                <input type="text" name="bensCtep" id="bensCtep" placeholder="bensCtep" maxlength="40">
                        </div>

                        <div class="inputGroup">
                                <label for="fabri">Ativo</label>
                                <select name="bensAtiv" id="bensAtiv">
                                    <option value="S">Sim</option>
                                    <option value="N">Nao</option>
                                </select>
                        </div>
                       
                        <div class="inputGroup">
                              <label for="alug">Alugado</label>
                                 <select name="alug" id="alug">
                                    <option value="S">Sim</option>
                                    <option value="N">Nao</option>
                                 </select>
                        </div>
                    
                         <div class="inputGroup">
                            <label for="exe">Valor Alugado</label>
                            <input type="number" name="valorAlug" id="valorAlug" placeholder="R$ 0,00" maxlength="13" >
                        </div>
                           
                        <div class="inputGroup">
                            <label for="fabri">Fabricante</label>
                                <input type="text" name="fabri" id="fabri" placeholder="Fabricante" maxlength="25">
                        </div>
                    
                    <div class="btnOutNext">
                        <button class="btnNext">Cadastrar</button>
                        <button class="btnOut">Voltar</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Parte do cadastro de clientes -->
        <!-- RegisteClient -->


        <div class="optionsClient">
            <p>Cliente</p>
            <button class="listYouClient">Listar</button>
            <button class="registerClient">Faça o cadastro</button>
        </div>
        <div class="listingClient">

        </div>

        <div class="showContentClient">
            <div class="moveAllFieldsClient">
                <div class="moveFieldsClient">
                    <label for="nome">
                        <input type="text" name="clientNome" id="clientNome" placeholder="nome">
                    </label>
                    <label for="clientCpf">
                        <input type="number" name="clientCpf" id="clientCpf" placeholder="CPF">
                    </label>
                    <label for="dtCad">
                        <input type="date" name="dtCad" id="dtCad">
                    </label>
                </div>
                <div class="moveFieldsClient">
                    <label for="dtNcClient">
                        <input type="date" name="dtNcClient" id="dtNcClient">
                    </label>
                    <label for="clientCelu">
                        <input type="number" name="clientCelu" id="clientCelu" placeholder="Celular">
                    </label>
                    <label for="clientCity">
                        <input type="text" name="clientCity" id="clientCity" placeholder="Cidade">
                    </label>
                </div>
                <div class="moveFieldsClient">
                    <label for="clientEstd">
                        <input type="text" name="clientEstd" id="clientEstd" placeholder="Estado">
                    </label>
                    <label for="clientRua">
                        <input type="text" name="clientRua" id="clientRua" placeholder="Rua">
                    </label>
                    <label for="clientCep">
                        <input type="number" name="clientCep" id="clientCep" placeholder="CEP">
                    </label>
                    <label for="clientMail">
                        <input type="email" name="clientMail" id="clientMail" placeholder="E-mail">
                    </label>
                </div>
                <div class="btnOutNext">
                    <button class="clientRegister">Cadastrar</button>
                    <button class="outClient">Voltar</button>
                </div>
            </div>
        </div>
    </section>

    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    
    <script src="mainGoods.js"></script>
    <script src="mainClient.js"></script>
</body>

</html>