body{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:  darkgray;
}
input{
    height: 23px;
}

/* Cabeçalho */
.containerHeader{
    height: 115px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    right: 0;
}

.material-symbols-outlined {
    font-family: sans-serif;
    margin-top: 2.5%;
    font-size: 20px;
    cursor: pointer;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.logo{
 width: 130px;
 margin-top:0.5%;
 margin-left: 1%;
}
#photo{
    width: 100px;
    border-radius: 100%;
}
.information{
  font-size: 19px;
 display: none;
 border-radius: 15px;
  width: 15%;
 text-align: center;
 background-color: lightslategray;
 margin-right: 10%;
 padding: 20px;
 height: 40px;
 margin-top: 1%;
}
/* Container bens*/
.containerAppBens{
    
   display: none;
    background-color: darkgray;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
    width: 76%;
    height: 550px;
    margin-left: 20%;
    margin-top:1.2% ;
    flex-direction: column;
    justify-content: space-between;

}
.workButton{
    display: flex;
    background-color: darkgray;
    width: 19%;
    height: 100%;
    justify-content: flex-end;
    border-radius: 10px;
    border: none;
    position: fixed;
}
     
ul{
    width: 100%;
    background-color: darkgray;
    list-style-type: none;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
}
/* Botoes do menu principais */
.btnCadBens{ 
    margin-top: 13%;
    width: 90%;
    height: 35px;
    border: none;
    background-color: lightslategray;
    cursor: pointer;
    margin-right: 2.5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.btnCadBens:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}
.btnCadClie{
    width: 90%;
    height: 35px;
    border: none;
    background-color: lightslategray;
    cursor: pointer;
    margin-right: 2.5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.btnCadClie:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}
.btnCadForn{
    width: 90%;
    height: 35px;
    border: none;
    background-color: lightslategray;
    cursor: pointer;
    margin-right: 2.5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.btnCadForn:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}
.btnCadProd{
    width: 90%;
    height: 35px;
    border: none;
    background-color: lightslategray;
    cursor: pointer;
    margin-right: 2.5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.btnCadProd:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}
.btnCadFabri{
    width: 90%;
    height: 35px;
    border: none;
    background-color: lightslategray;
    cursor: pointer;
    margin-right: 2.5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.btnCadFabri:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}
.btnCadTypeProd{
    width: 90%;
    height: 35px;
    border: none;
    background-color: lightslategray;
    cursor: pointer;
    margin-right: 2.5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}

.btnCadTypeProd:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}
.btnCadMotorista{
    width: 90%;
    height: 35px;
    border: none;
    background-color: lightslategray;
    cursor: pointer;
    margin-right: 2.5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.btnCadMotorista:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

/* Pagina relacionada aos bens */


.error-text{
    color: red;
    display: block;
    margin-top: 0.5%;
    font-size: 13px;
}
.error-field{
    border-color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 15px; /* Aumenta o espaço interno das células */
    text-align: left;
    border: 1px solid #ddd; /* Opcional: para adicionar borda */
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Alterna a cor das linhas */
  }
  
  th {
    background-color:cornflowerblue; /* Cor de fundo do cabeçalho */
    color: white;
  }
  
.listingBens{
    display: flex; 
    flex-wrap: wrap; 
    /* gap: 20px;  */
    justify-content: space-between;
    overflow-y: auto;
}
.bem-item{
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px; 
    min-height: 150px;
    font-size: 13px;
}
.editForm{
    width:100%;
  overflow: auto;
}


.bem-item p {
    margin: 5px 0;
  }
#formEditBens{
    display: flex;
    flex-direction: column;
    gap: 20px;
   background-color:darkgray;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
   max-width: 900px;
   width: 100%;
   box-sizing: border-box;
   margin-left: 3%;
} 
.btnPageEdit{
    display: flex;
    width:50%;
     gap: 5.5%;
     justify-content: center;
     margin-top: 5%;
}

.submitEditBtn{
    cursor: pointer;
    width: 80px;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:27px;
}

.btnOutPageEdit{
    cursor: pointer;
    width: 80px;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:27px;
}
.btnPageListGoods{
    display: flex;
    height:55px;
    gap: 20px;
    justify-content: center;
    margin-top: 3%;
}
.registerGoods{
    margin-top: 0.8%;
    height: 28px;
    cursor: pointer;
    width: 15%;
    background-color: lightslategray;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.registerGoods:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}
.buttonDelete{
    margin-top: 0.8%;
    height: 28px;
    cursor: pointer;
    width: 15%;
    background-color: lightslategray;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.buttonDelete:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.buttonEdit{
    margin-top: 0.8%;
    height: 28px;
    cursor: pointer;
    width: 15%;
    background-color: lightslategray;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}

.buttonEdit:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.buttonExit{
    margin-top: 0.8%;
    height: 28px;
    cursor: pointer;
    width: 15%;
    background-color: lightslategray;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}

.buttonExit:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

/* container de registro de bens */
 .showContentBens{
    overflow: auto;
} 

/* moude de como os inputs vão mostrar */
.formGroup{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5%;
    flex-wrap: wrap;
    width: 90%;
    gap: 5px;
    margin-bottom: 2px; 
    margin-left: 3%;
}
.inputGroup{
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33% - 20px); 
    min-width: 250px; 
    gap: 7px;
}
.inputGroup label{
    font-weight: bold;
    margin-bottom: 5px;
    
}

/* botoes que estao na tela de registro */
.btnOutNext{
    display: flex;
    width:50%;
     gap: 5.5%;
     justify-content: center;
     margin-top: 5%;
}
.btnOut{
    cursor: pointer;
    width: 80px;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:27px;
}
.btnNext{
    cursor: pointer;
    width: 80px;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height: 27px;
}

