.containerAppForn{
    display: none;
    background-color: darkgray;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
    width: 76%;
    height: 550px;
    margin-left: 20%;
    margin-top:1.2% ;
    flex-direction: column;
    justify-content: space-between;
}
.listingForn{
    overflow: auto;
}

.btnMainPageForn{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 3%;
}
.registerForn{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
}
.buttonDeleteForn{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
}
.buttonEditForn{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
}
.buttonExitForn{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:28px;
}
.btnRegisterforn{
    cursor: pointer;
    width: 20%;
    height: 26px;
    background-color: lightslategray;
    border: none;
}
.btnOutInitForn{
    cursor: pointer;
    width: 20%;
    height: 26px;
    background-color: lightslategray;
    border: none;
}