<section class="containerAppResiduo d-flex flex-column justify-content-between bg-secondary bg-opacity-75 text-white shadow rounded"
style="display: none; width: 76%; height: 550px; margin-left: 22%; margin-top: 1%; padding: 5px; border: 2px solid white;">
      
    <div class="listResiduo mb-3">
      <!-- informações do cadastro de residuo -->
    </div>
  
    <!-- Botões principais -->
    <div class="buttonsMainPage d-flex flex-wrap justify-content-center align-items-center gap-3 mb-3">
      <button class="registerResiduo btn btn-primary text-dark fw-semibold">Incluir</button>
      <button class="buttonDeleteResiduo btn btn-danger text-dark fw-semibold">Excluir</button>
      <!-- <button class="buttonEditClient btn btn-warning text-dark fw-semibold">Editar</button> -->
      <button class="buttonExitResiduo btn btn-light text-dark fw-semibold border">Voltar</button>
    </div>

    <div class="containerFormRegister container py-4 " style="display: none;" >
     <form id="formRegisterResiduo" class="border border-secondary-subtle rounded-4 p-4 shadow-sm">
      <div class="row g-4">
      
      <!-- Código e Nome -->
      <div class="col-md-3">
        <label for="codeRes" class="form-label">Código</label>
        <input type="text" class="form-control" name="codeRes" id="codeRes" placeholder="Código" maxlength="15" required />
      </div>
      <div class="col-md-9">
        <label for="descResi" class="form-label">Descrição</label>
        <input type="text" class="form-control" name="descResi" id="descResi" placeholder="Descrição" maxlength="80" required />
      </div>
         
      <div class="">
            <button type="button" class="btn btn-success btnRegisterResiduo px-5">
          <i class="bi bi-check-circle me-2"></i>Cadastrar</button>

        <button type="button" class="btn btn-secondary btnOutInitResiduo px-5">
          <i class="bi bi-arrow-left me-2"></i>Voltar</button>
      </div>
      </div>
    </div>
</section>