.hidden {
    display: none !important;
  }

.flex {
    display: flex !important;
  }

.listResiduo{
  max-height: 75vh;
  overflow: auto;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.tableResiduo{
  font-size: 0.85rem;
  color: #000;
}
.tableResiduo td 
.tableResiduo th{
  vertical-align: middle;
  white-space: nowrap;
}

.tableResiduo th{
  background-color:#1f2937;
  color:#ffffff;
}

.tableResiduo td{
  background-color:#f8f9fa;
  color: #212529;
  word-break: break-word;
  white-space: normal;
}

