.containerAppForn{
    display: none;
    background-color: darkgray;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
    width: 76%;
    height: 550px;
    margin-left: 22%;
    margin-top:1% ;
    flex-direction: column;
    justify-content: space-between;
    border: solid , 2px , white;
    padding: 7px;
    border-radius: 10px;
    overflow: auto;
}
.listingForn{
    overflow: auto;
}
.hidden {
    display: none !important;
  }

  .flex {
    display: flex !important;
  }

.btnMainPageForn{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 3%;
}

.tableFornecedor{
    width: 100%;
    border-collapse: collapse;
    color: black;
    font-size: 14px;
}

.tableFornecedor td{
    background-color:darkgray ;
}



