

<section class="containerAppForn d-flex flex-column justify-content-between bg-secondary bg-opacity-75 text-white shadow rounded"
style="display: none; width: 76%; height: 550px; margin-left: 22%; margin-top: 1%; padding: 5px; border: 2px solid white;" >

  <div class="listingForn mb-3">
    <!-- Informações do fornecedor -->
  </div>

  <div class="btnMainPageForn d-flex flex-wrap justify-content-center align-items-center gap-3 mb-3">
    <button class="registerForn btn btn-primary text-dark fw-semibold">Incluir</button>
    <button class="buttonDeleteForn btn btn-danger text-dark fw-semibold">Excluir</button>
    <button class="buttonEditForn btn btn-warning text-dark fw-semibold">Editar</button>
    <button class="buttonExitForn btn btn-light text-dark fw-semibold border">Voltar</button>
  </div>

  <div class="formRegisterForn container py-4" style="display: none">
    <form id="registerForn" class="border border-secondary-subtle rounded-3 p-4 shadow-sm">
      <div class="row g-3 justify-content-center">
  
        <!-- Linha 1 -->
        <div class="col-md-3">
          <label for="fornCode" class="form-label">Código</label>
          <input type="text" name="fornCode" id="fornCode" class="form-control" placeholder="Código" maxlength="15" />
        </div>
        <div class="col-md-9">
          <label for="fornName" class="form-label">Nome</label>
          <input type="text" name="fornName" id="fornName" class="form-control" placeholder="Nome" maxlength="80" />
        </div>
  
        <!-- Linha 2 -->
        <div class="col-md-6">
          <label for="nomeFan" class="form-label">Nome fantasia</label>
          <input type="text" name="nomeFan" id="nomeFan" class="form-control" placeholder="Nome Fantasia" maxlength="50" />
        </div>
        <div class="col-md-6">
          <label for="fornCnpj" class="form-label">CNPJ</label>
          <input type="text" name="fornCnpj" id="fornCnpj" class="form-control" placeholder="CNPJ" minlength="18" />
        </div>
  
        <!-- Linha 3 -->
        <div class="col-md-6">
          <label for="fornCep" class="form-label">CEP</label>
          <input type="text" name="fornCep" id="fornCep" class="form-control" placeholder="CEP" minlength="9"/>
        </div>
        <div class="col-md-6">
          <label for="fornRua" class="form-label">Rua</label>
          <input type="text" name="fornRua" id="fornRua" class="form-control" placeholder="Rua" maxlength="40" />
        </div>
  
        <!-- Linha 4 -->
        <div class="col-md-4">
          <label for="fornCity" class="form-label">Cidade</label>
          <input type="text" name="fornCity" id="fornCity" class="form-control" placeholder="Cidade" maxlength="25" />
        </div>
        <div class="col-md-4">
          <label for="fornEstd" class="form-label">Estado</label>
          <input type="text" name="fornEstd" id="fornEstd" class="form-control" placeholder="Estado" maxlength="20" />
        </div>
        <div class="col-md-4">
          <label for="fornCelu" class="form-label">Celular</label>
          <input type="text" name="fornCelu" id="fornCelu" class="form-control" placeholder="Celular" minlength="15" />
        </div>
  
        <!-- Linha 5 -->
        <div class="col-md-6">
          <label for="fornMail" class="form-label">E-mail</label>
          <input type="email" name="fornMail" id="fornMail" class="form-control" placeholder="E-mail" maxlength="35" />
        </div>
        <div class="col-md-6">
          <label for="fornBank" class="form-label">Banco</label>
          <input type="text" name="fornBank" id="fornBank" class="form-control" placeholder="Banco" maxlength="20" />
        </div>
  
        <!-- Linha 6 -->
        <div class="col-md-4">
          <label for="fornAge" class="form-label">Agência</label>
          <input type="number" name="fornAge" id="fornAge" class="form-control" placeholder="Agência" />
        </div>
        <div class="col-md-4">
          <label for="fornCont" class="form-label">Conta</label>
          <input type="number" name="fornCont" id="fornCont" class="form-control" placeholder="Conta" maxlength="8" />
        </div>
        <div class="col-md-4">
          <label for="fornPix" class="form-label">Pix</label>
          <input type="text" name="fornPix" id="fornPix" class="form-control" placeholder="Pix" maxlength="35" />
        </div>
  
        <!-- Linha 7 -->
        <div class="col-md-6">
          <label for="fornDtcd" class="form-label">Data do cadastro</label>
          <input type="date" name="fornDtcd" id="fornDtcd" class="form-control" />
        </div>
        <div class="col-md-6">
          <label for="fornDisPro" class="form-label">Descrição do produto</label>
          <input type="text" name="fornDisPro" id="fornDisPro" class="form-control" placeholder="Descrição do produto" maxlength="85" />
        </div>
  
        <!-- Botões -->
        <div class="col-12 d-flex justify-content-center gap-4 mt-4 btnOutNext">
          <button type="submit" class="btn btn-success btnRegisterforn w-25">Cadastrar</button>
          <button type="button" class="btn btn-secondary btnOutInitForn w-25">Voltar</button>
        </div>
  
      </div>
    </form>
  </div>
  
  <!-- Formulario de edição -->
  <div class="formEditRegisterForn container py-4 " style="display: none">
    <form class="formEditForn border border-secondary-subtle rounded-3 p-4 shadow-sm">
      <div class="row g-3">
  
        <!-- Linha 1 -->
        <div class="col-md-3">
          <label for="editFornCode" class="form-label">Código</label>
          <input type="text" name="editFornCode" id="editFornCode" class="form-control" placeholder="Código" maxlength="15" readonly />
        </div>
        <div class="col-md-9">
          <label for="editFornName" class="form-label">Nome</label>
          <input type="text" name="editFornName" id="editFornName" class="form-control" placeholder="Nome" maxlength="80" readonly />
        </div>
  
        <!-- Linha 2 -->
        <div class="col-md-6">
          <label for="editNomeFan" class="form-label">Nome fantasia</label>
          <input type="text" name="editNomeFan" id="editNomeFan" class="form-control" placeholder="Nome Fantasia" maxlength="50" readonly />
        </div>
        <div class="col-md-6">
          <label for="editFornCnpj" class="form-label">CNPJ</label>
          <input type="text" name="editFornCnpj" id="editFornCnpj" class="form-control" placeholder="CNPJ" maxlength="20" readonly />
        </div>
  
        <!-- Linha 3 -->
        <div class="col-md-6">
          <label for="editFornCep" class="form-label">CEP</label>
          <input type="text" name="editFornCep" id="editFornCep" class="form-control" placeholder="CEP" minlength="9" />
        </div>

        <div class="col-md-6">
          <label for="editFornRua" class="form-label">Rua</label>
          <input type="text" name="editFornRua" id="editFornRua" class="form-control" placeholder="Rua Qd Lt" maxlength="40" />
        </div>
  
        <!-- Linha 4 -->
        <div class="col-md-4">
          <label for="editFornCity" class="form-label">Cidade</label>
          <input type="text" name="editFornCity" id="editFornCity" class="form-control" placeholder="Cidade" maxlength="25" />
        </div>
        <div class="col-md-4">
          <label for="editFornEstd" class="form-label">Estado</label>
          <input type="text" name="editFornEstd" id="editFornEstd" class="form-control" placeholder="Estado" maxlength="20" />
        </div>
        <div class="col-md-4">
          <label for="editFornCelu" class="form-label">Celular</label>
          <input type="text" name="editFornCelu" id="editFornCelu" class="form-control" placeholder="Celular" minlength="15" />
        </div>
  
        <!-- Linha 5 -->
        <div class="col-md-6">
          <label for="editFornMail" class="form-label">E-mail</label>
          <input type="email" name="editFornMail" id="editFornMail" class="form-control" placeholder="E-mail" maxlength="35" />
        </div>
        <div class="col-md-6">
          <label for="editFornBank" class="form-label">Banco</label>
          <input type="text" name="editFornBank" id="editFornBank" class="form-control" placeholder="Banco" maxlength="20" />
        </div>
  
        <!-- Linha 6 -->
        <div class="col-md-4">
          <label for="editFornAge" class="form-label">Agência</label>
          <input type="number" name="editFornAge" id="editFornAge" class="form-control" placeholder="Agência" maxlength="4" />
        </div>
        <div class="col-md-4">
          <label for="editFornCont" class="form-label">Conta</label>
          <input type="number" name="editFornCont" id="editFornCont" class="form-control" placeholder="Conta" maxlength="8" />
        </div>
        <div class="col-md-4">
          <label for="editFornPix" class="form-label">Pix</label>
          <input type="text" name="editFornPix" id="editFornPix" class="form-control" placeholder="Pix" maxlength="35" />
        </div>
  
        <!-- Linha 7 -->
        <div class="col-md-6">
          <label for="editFornDtcd" class="form-label">Data do cadastro</label>
          <input type="date" name="editFornDtcd" id="editFornDtcd" class="form-control" readonly />
        </div>
        <div class="col-md-6">
          <label for="editFornDisPro" class="form-label">Descrição do produto</label>
          <input type="text" name="editFornDisPro" id="editFornDisPro" class="form-control" placeholder="Descrição do produto" maxlength="85" />
        </div>
  
        <!-- Botões -->
        <div class="col-12 d-flex justify-content-center gap-3 mt-3 btnOutNext">
          <button type="submit" class="btn btn-success submitForn w-25">Salvar</button>
          <button type="button" class="btn btn-secondary btnOutInitFornEdit w-25">Voltar</button>
        </div>
  
      </div>
    </form>
  </div>
  
     
  
  
</section>
