
.listingForn{
   max-height: 75vh;
  overflow: auto;
  padding: 0.75rem;
  border-radius: 0.5rem;
}
.hidden {
    display: none !important;
  }

  .flex {
    display: flex !important;
  }

.btnMainPageForn{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 3%;
}
.tableFornecedor{
  font-size: 0.85rem;
  color: #000;
}

.tableFornecedor td,
.tableFornecedor th{
 vertical-align: middle;
  white-space: normal;
}

.tableFornecedor td{
    background-color:#f8f9fa;
   color: #212529;
   word-break: break-word;
  white-space: normal;
}

.tableFornecedor th{
    background-color: #1f2937;
    color: white;
}
.formRegisterForn{
    overflow: auto;
}
.formEditRegisterForn{
    overflow: auto;
}



