.containerAppLocation {
  display: none;
  background-color: darkgray;
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.929);
  width: 76%;
  height: 550px;
  margin-left: 22%;
  margin-top: 1.2%;
  flex-direction: column;
  justify-content: space-between;
  border: solid , 2px , white;
  padding: 7px;
  border-radius: 10px;
}
.submitSearchLocation {
  cursor: pointer;
  width: 80px;
  margin-bottom: 2%;
  background-color: lightslategray;
  border: none;
  height: 27px;
}

.outPageSearchLocation {
  cursor: pointer;
  width: 80px;
  margin-bottom: 2%;
  background-color: lightslategray;
  border: none;
  height: 27px;
}
.btnRegisterLocation {
  width: 90%;
  height: 35px;
  border: 1px solid white;
  background-color: rgb(100, 137, 189);
  cursor: pointer;
  margin-right: 2.5%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s, transform 0.4s;
  text-align: center;
  align-items: center;
}
.btnRegisterLocation:active{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}
.btnInitPageMainLoc {
  display: flex;
  justify-content: center;
  height: 40px;
  gap: 20px;
  margin-top: 3%;
  margin-bottom: 1%;
}
.searchloc {
  width: 20%;
  height: 30px;
  border: none;
  background-color: rgb(100, 137, 189);
  cursor: pointer;
  margin-right: 2.5%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s, transform 0.4s;
  margin-top: 1%;
}
.searchloc:active {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(6px);
}
/* parte da Locação  */
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}
.contentEditlocation{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#client{
  width: 50%;
}
.infoClient {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 1.5%;
  gap: 5px;
  height: 60px;
  width: 100%;
}
.btnOutSearchClient{
  cursor: pointer;
  width: 85px;
  margin-bottom: 2%;
  background-color: lightslategray;
  border: none;
  height: 30px;
  margin-left: 2.5%;
}

.infoClient label {
  font-size: 13px;
  display: block;
}

.infoClient input {
  width: 11%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* DIV CONTAINER DOS BENS */
.familyBens {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5%;
}
/* Contrato finalizado  */
#contrato {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 94%;
  height: 510px;
  margin-top: 1%;
  margin-left: 1.5%;
  padding: 4px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #888282;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  color: #333;
  overflow-y: auto;
  overflow-x: hidden;
}
#contrato h2 {
  text-align: center;
  color: #0f0f0f;
  margin-bottom: 10px;
  font-size: 22px;
  text-transform: uppercase;
}

#contrato p {
  margin: 5px 0;
  line-height: 1.6;
  font-size: 16px;
}

.itensLocados {
  width: 90%;

  margin-bottom: 30%;
}

#contrato h3 {
  margin-top: 10px;
  color: #080808;
  font-size: 18px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  text-transform: uppercase;
}

#contrato hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

#contrato button {
  display: block;
  margin: 0, auto;
  background-color: lightslategray;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2%;
  width: 30%;
  height: 30px;
}

.tableContrato {
  overflow: auto;
}


/* Botoes da tela principal */
.registerLocation {
  /* margin-top: 0.8%; */
  height: 28px;
  cursor: pointer;
  width: 15%;
  background-color: lightslategray;
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s, transform 0.4s;
}
.buttonDeleteLocation {
  height: 28px;
  cursor: pointer;
  width: 15%;
  background-color: lightslategray;
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s, transform 0.4s;
}
.buttonEditLocation {
  height: 28px;
  cursor: pointer;
  width: 15%;
  background-color: lightslategray;
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s, transform 0.4s;
}
.buttonExitLocation {
  height: 28px;
  cursor: pointer;
  width: 15%;
  background-color: lightslategray;
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s, transform 0.4s;
}

.formGroupBtn {
  margin-top: 1.5%;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.familyBens h3 {
  text-align: center;
  margin-bottom: 20px;
}
h3 {
  text-align: center;
}

.tableGrid {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.tableGrid label {
  font-weight: bold;
  text-align: center;
}

.tableGrid input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Locação parte client */
#formClient {
  width: 100%;
}

.formGroup {
  display: flex;
  justify-content: center;
}

.inputGroupSearchClient {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 1 calc(33% - 20px);
  width: 10%;
}
.informationClient {
  height: 50px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputWrapper .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
  font-size: 24px;
}

.inputGroupDataEvolu {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Numeric {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 10%;
}
.inputGroupDataLoc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inputGroupHoraLoc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inputGroupPagament {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inputGroupClient {
  display: flex;
  width: 39%;
  margin-left: 40%;
  gap: 10px;
}

#numCpf {
  width: 50%;
}

.validDate {
  margin-left: 1.5%;
  cursor: pointer;
  background-color: rgb(100, 137, 189);
  height: 25px;
  border: none;
  width: 20%;
  border: none;
  border-radius: 5px;
}
.concluide {
  cursor: pointer;
  background-color: rgb(100, 137, 189);
  height: 30px;
  border: none;
  width: 25%;
  border: none;
  border-radius: 5px;
}

.btnUpdateLocation{
  height: 30px;
  width: 35%;
  background-color: rgb(100, 137, 189);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.outLocationEdit{
  height: 30px;
  width: 35%;
  background-color: rgb(100, 137, 189);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.locCadClient {
  height: 24px;
  background-color: rgb(100, 137, 189);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2.5%;
}

/* formulario de registro ao cliente */
.btnOutInitLoc {
  padding: 10px 20px;
  background-color: rgb(100, 137, 189);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnRegisterClientLoc {
  padding: 10px 20px;
  background-color: rgb(100, 137, 189);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Location finish Tabelas e a div de pesquisa */

.tableLocation {
  overflow: auto;
}
.resultLocationSearch {
  overflow: auto;
}

.searchLocation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkgray;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 30%;
  height: 40%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
#resetFilterBtn {
  width: 20%;
  height: 30px;
  border: none;
  background-color: rgb(100, 137, 189);
  cursor: pointer;
  margin-right: 2.5%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s, transform 0.4s;
  margin-top: 1%;
}

#resetFilterBtn:active {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(6px);
}
.btnMainTheSearch {
  display: flex;
  justify-content: space-between;
}
#numberLocation {
  width: 100px;
}
.searchClient{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkgray;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 50%;
  height: 50%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
h2 {
  text-align: center;
}



