
.tableLocationAll {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fefefe;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin-top: 1rem;
  font-size: 0.95rem;
}

.tableLocationAll thead {
  background-color: #007bff;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.tableLocationAll thead th {
  padding: 12px 10px;
  border-bottom: 2px solid #ddd;
  text-align: left;
}

.tableLocationAll tbody td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  vertical-align: middle;
  color: black;
}

.tableLocationAll tbody tr:hover {
  background-color: #f1f1f1;
}

.tableLocationAll input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}

.btnRegisterLocation {
  width: 90%;
  height: 35px;
  border: 1px solid white;
  cursor: pointer;
  margin-right: 2.5%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s, transform 0.4s;
  text-align: center;
  align-items: center;
}
.btnRegisterLocation:active{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}


/* parte da Locação  */
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

.containerMaps {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  width: 80%;
  height: 60%;
  max-height: 90vh;
  overflow-y: auto;
  background-color: #f8f9fa; /* exemplo de fundo claro */
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: space-around;
}

/* Estilo para telas médias e grandes (desktop) */
@media (min-width: 768px) {
  .containerMaps {
    width: 800px;
    height: 600px;
  }
}

/* Estilo para telas muito pequenas (opcional) */
@media (max-width: 400px) {
  .containerMaps {
    width: 95%;
    height: 60%;
  }
}


  .iframe-container {
    width: 100%;
    height: 250px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }

/* Contrato finalizado  */

.tableContrato {
  overflow: auto;
}
.contratoLocationVehicle{
  overflow: auto;
  border: 1px solid white;
}
.contrato{
   overflow: auto;
  border: 1px solid white;
}

/* Responsivo */
@media (max-width: 768px) {
  #contrato {
    width: 98%;
    height: auto;
    margin-left: 1%;
    padding: 10px;
  }

  #contrato button {
    width: 90%;
  }

  .itensLocados {
    margin-bottom: 1rem;
  }

  #contrato h2 {
    font-size: 20px;
  }

  #contrato h3 {
    font-size: 16px;
  }

  #contrato p {
    font-size: 14px;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.btnUpdateLocation{
  height: 30px;
  width: 35%;
  background-color: rgb(100, 137, 189);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.outLocationEdit{
  height: 30px;
  width: 35%;
  background-color: rgb(100, 137, 189);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tableLocation {
  overflow: auto;
}
.resultLocationSearch {
  overflow: auto;
 
}

.searchLocation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkgray;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 30%;
  height: 40%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
#resetFilterBtn {
  width: 20%;
  height: 30px;
  border: none;
  background-color: rgb(100, 137, 189);
  cursor: pointer;
  margin-right: 2.5%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s, transform 0.4s;
  margin-top: 1%;
}

#resetFilterBtn:active {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(6px);
}
.btnMainTheSearch {
  display: flex;
  justify-content: space-between;
}

.searchClient{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkgray;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 50%;
  height: 50%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.modal-content{
  overflow: auto;
}

/* LOCAÇÃO VEICULO */
 .form-container {
      max-width: 500px;
      margin: 60px auto;
      padding: 30px;
      background-color: white;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-title {
      text-align: center;
      margin-bottom: 25px;
    }


