.containerAppLocation{
    display: none;
    background-color: darkgray;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
    width: 76%;
    height: 550px;
    margin-left: 20%;
    margin-top:1.2% ;
    flex-direction: column;
    justify-content: space-between;
}

.btnRegisterLocation{
  width: 90%;
  height: 35px;
  border: none;
  background-color: rgb(100, 137, 189);
  cursor: pointer;
  margin-right: 2.5%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s, transform 0.4s;
}


.btnInitPageMainLoc{
  display: flex;
  justify-content: center; 
  height: 40px;
  gap:20px;
  margin-top: 3%;
}
.registerLocation{
  cursor: pointer;
  width: 80px;
  margin-bottom: 2%;
  background-color: lightslategray; 
  border: none;
  height:27px;
}

.buttonDeleteLocation{
  cursor: pointer;
  width: 80px;
  margin-bottom: 2%;
  background-color: lightslategray; 
  border: none;
  height:27px;
}

.buttonEditLocation{
  cursor: pointer;
  width: 80px;
  margin-bottom: 2%;
  background-color: lightslategray; 
  border: none;
  height:27px;
}

.buttonExitLocation{
  cursor: pointer;
  width: 80px;
  margin-bottom: 2%;
  background-color: lightslategray; 
  border: none;
  height:27px;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* .infoClient{
  margin-left: 3%;
} */

.infoClient {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.infoClient label {
  font-size: 12px;
  color: #0f0e0e;
  display: block;
}

.infoClient input {
  width: 20%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.familyBens {
  display: flex;
  flex-direction: column;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5%;
}

#contrato{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width:800px;
  height:510px ;
  margin-top: 1%;
  margin-left: 8%;
  padding: 4px;
  border: 2px solid rgb(100, 137, 189);
  border-radius: 10px;
  background-color: #888282;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  color: #333;
}
#contrato h2 {
  text-align: center;
  color: #0f0f0f;
  margin-bottom: 10px;
  font-size: 22px;
  text-transform: uppercase;
}

#contrato p {
  margin: 5px 0;
  line-height: 1.6;
  font-size: 16px;
}

.itensLocados{
  width: 90%;
 
  margin-bottom:30%;
}

#contrato h3 {
  margin-top: 10px;
  color: #080808;
  font-size: 18px;
  border-bottom: 2px solid  #ddd;
  padding-bottom: 5px;
  text-transform: uppercase;
}

#contrato hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

#contrato button {
  display: block;
  margin: 0, auto;
  background-color:rgb(100, 137, 189);
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1%;
}

/* Botoes da tela principal */
.registerLocation{
  /* margin-top: 0.8%; */
    height: 28px;
    cursor: pointer;
    width: 15%;
    background-color: lightslategray;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.buttonDeleteLocation{
  height: 28px;
  cursor: pointer;
  width: 15%;
  background-color: lightslategray;
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s, transform 0.4s;
}
.buttonEditLocation{
  height: 28px;
  cursor: pointer;
  width: 15%;
  background-color: lightslategray;
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s, transform 0.4s;
}
.buttonExitLocation{
  height: 28px;
  cursor: pointer;
  width: 15%;
  background-color: lightslategray;
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s, transform 0.4s;
}

.formGroupBtn{
  margin-top: 1.5%;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.familyBens h3 {
    text-align: center;
    margin-bottom:20px;
  }
 h3{
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #222020;
  }

  
   .tableGrid {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
  }

  .tableGrid label {
    font-weight: bold;
    text-align: center;
}

  .tableGrid input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#formClient{
  width: 100%;
 } 

  .formGroup {
  display: flex;
  justify-content: center;
  } 

.inputGroupSearchClient{
  display: flex;
    position: relative;
    flex-direction: column;
    flex: 1 1 calc(33% - 20px); 
   width:10%;
} 
.informationClient{
  height: 50px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  
}

.inputWrapper .icon {
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%);
  color: #999; 
  pointer-events: none; 
  font-size: 24px; 
}

.inputGroupDataEvolu {
  display: flex;
  flex-direction: column; 
  gap: 5px; 
}

.Numeric{
  display: flex;
  flex-direction: column; 
  gap: 5px; 
  width: 10%;
}
.inputGroupDataLoc{
  display: flex;
  flex-direction: column; 
  gap: 5px; 
}
.inputGroupHoraLoc{
  display: flex;
  flex-direction: column; 
  gap: 5px; 
}
.inputGroupPagament{
  display: flex;
  flex-direction: column; 
  gap: 5px; 
}
.inputGroupClient{
  display: flex;
  width: 39%;
  margin-left:40%;
  gap: 10px;
}

#numCpf{
  width: 50%;
}

.validDate{
  margin-left: 1.5%;
  cursor: pointer;
  background-color:rgb(100, 137, 189); 
  height:25px;
  border: none;
  width: 20%;
  border: none;
  border-radius: 5px;
}
.concluide{
  cursor: pointer;
  background-color:rgb(100, 137, 189); 
  height: 30px;
  border: none;
  width: 25%;
  border: none;
  border-radius: 5px;
}

.finish {
    height: 30px;
    width: 35%;
    background-color:  rgb(100, 137, 189);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.outLocation{
  height: 30px;
  width: 35%;
  background-color:  rgb(100, 137, 189);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

  .locCadClient{
    height: 24px;
    background-color: rgb(100, 137, 189);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 2.5%;
  } 

  button:hover {
    background-color: #45a049;

  } 

  /* formulario de registro ao cliente */
.btnOutInitLoc{
    padding: 10px 20px;
    background-color:  rgb(100, 137, 189);
    color: black;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnRegisterClientLoc{
    padding: 10px 20px;
    background-color: rgb(100, 137, 189);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Location finish */

.tableLocation{
  overflow: auto;
}
