.containerAppLocation{
    display: none;
    background-color: darkgray;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
    width: 76%;
    height: 550px;
    margin-left: 20%;
    margin-top:1.2% ;
    flex-direction: column;
    justify-content: space-between;
}

.informationMainClient{
    display: flex;
    flex-wrap: wrap;
    height: 40%;
}

.familyBens {
  display: flex;
  flex-direction: column;
    width: 90%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5%;
}

#contrato{
  max-width: 750px;
  margin-top: 1.5%;
  margin-left: 8%;
  padding: 4px;
  border: 2px solid rgb(100, 137, 189);
  border-radius: 10px;
  background-color: #888282;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  color: #333;
}
#contrato h2 {
  text-align: center;
  color: #0f0f0f;
  margin-bottom: 10px;
  font-size: 22px;
  text-transform: uppercase;
}

#contrato p {
  margin: 5px 0;
  line-height: 1.6;
  font-size: 16px;
}

#contrato h3 {
  margin-top: 10px;
  color: #080808;
  font-size: 18px;
  border-bottom: 2px solid  #ddd;
  padding-bottom: 5px;
  text-transform: uppercase;
}

#contrato hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

#contrato button {
  display: block;
  margin: 0, auto;
  background-color:rgb(100, 137, 189);
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1%;
}


.formGroupBtn{
  margin-top: 1.5%;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.familyBens h3 {
    text-align: center;
    margin-bottom:20px;
  }
 h3{
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #222020;
  }

  
   .tableGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
  }

  .tableGrid label {
    font-weight: bold;
    text-align: center;
  }

  .tableGrid input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }


#formClient{
  width: 100%;
 } 

  .formGroup {
  display: flex;
  justify-content: center;
  } 

.inputGroupSearchClient{
  display: flex;
    position: relative;
    flex-direction: column;
    flex: 1 1 calc(33% - 20px); 
   width:10%;
} 
.informationClient{
  height: 50px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  
}

.inputWrapper .icon {
  position: absolute;
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%);
  color: #999; 
  pointer-events: none; 
  font-size: 24px; 
}
.inputGroupDataEvolu {
  display: flex;
  flex-direction: column; 
  gap: 5px; 

}
.inputGroupDataLoc{
  display: flex;
  flex-direction: column; 
  gap: 5px; 
}
.inputGroupHoraLoc{
  display: flex;
  flex-direction: column; 
  gap: 5px; 
}
.inputGroupPagament{
  display: flex;
  flex-direction: column; 
  gap: 5px; 
}
.inputGroupClient{
  display: flex;
  width: 39%;
  margin-left:40%;
  gap: 10px;
}

#numCpf{
  width: 50%;
}

.validDate{
  margin-left: 1.5%;
  cursor: pointer;
  background-color:rgb(100, 137, 189); 
  height:25px;
  border: none;
  width: 20%;
  border: none;
  border-radius: 5px;
}
.concluide{
  cursor: pointer;
  background-color:rgb(100, 137, 189); 
  height: 30px;
  border: none;
  width: 25%;
  border: none;
  border-radius: 5px;
}

.finish {
    height: 30px;
    width: 35%;
    background-color:  rgb(100, 137, 189);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .locCadClient{
    height: 24px;
    background-color: rgb(100, 137, 189);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 2.5%;
  } 

  button:hover {
    background-color: #45a049;

  } 

  /* formulario de registro ao cliente */
.btnOutInitLoc{
    padding: 10px 20px;
    background-color:  rgb(100, 137, 189);
    color: black;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnRegisterClientLoc{
    padding: 10px 20px;
    background-color: rgb(100, 137, 189);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
