
<section class="d-flex flex-column justify-content-between bg-secondary bg-opacity-75 text-white shadow rounded position-relative"
style="display: none; width: 76%; height: 550px; margin-left: 22%; margin-top: 1%; padding: 5px; border: 2px solid white;">

<button type="button" 
        class="btn btn-outline-danger btn-sm p-0 position-absolute top-0 end-0 m-2 rounded-circle d-flex align-items-center justify-content-center" 
        aria-label="Fechar" style="width: 32px; height: 32px;" id="buttonExitClient">
  <i class="bi bi-x fs-5"></i>
</button>

<div class="listDriverExternoWithVehicle mb-3 mt-5">
     <!-- informações -->
</div>
</section>