


.listClient{
    overflow: auto;
}
.tableClient{
    width: 100%;
    border-collapse: collapse;
    color: black;
    font-size: 14px;
}

.tableClient td{
    background-color:darkgray;
}
.containerOfForm{
    overflow: auto;
}
/* Visualização */

.hidden {
    display: none !important;
  }

  .flex {
    display: flex !important;
  }

.buttonsMainPage {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 3%;
  }


.btnbtn{
    gap: 15px;
    justify-content: center;
    display: flex;
    margin-top: 10%;
    width: 65%;
}



