
.listClient{
  max-height: 75vh;
  overflow: auto;
  padding: 0.75rem;
  border-radius: 0.5rem;
}
.tableClient{
   font-size: 0.85rem;
  color: #000;
}
.tableClient td,
.tableClient th{
  vertical-align: middle;
  white-space: nowrap;
}

.tableClient th{
  background-color:#1f2937;
  color:#ffffff;
}

.tableClient td{
    background-color:#f8f9fa;
   color: #212529;
   word-break: break-word;
  white-space: normal;
}

.containerOfForm{
    overflow: auto;
}
/* Visualização */

.hidden {
    display: none !important;
  }

  .flex {
    display: flex !important;
  }

.buttonsMainPage {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 3%;
  }


.btnbtn{
    gap: 15px;
    justify-content: center;
    display: flex;
    margin-top: 10%;
    width: 65%;
}



