
.containerAppClient{
    display: none;
    background-color: darkgray;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
    width: 76%;
    height: 550px;
    margin-left: 22%;
    margin-top:1% ;
    flex-direction: column;
    justify-content: space-between;
    border: solid , 2px , white;
    padding: 7px;
    border-radius: 10px;
}
.listClient{
    overflow: auto;
}
.buttonsMainPage {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 3%;
  }

.btnRegisterClient{
    cursor: pointer;
    width: 80px;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:27px;
}
.btnOutInit{
    cursor: pointer;
    width: 80px;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:27px;
}
.registerClient{
    cursor: pointer;
    width: 15%;
    height: 26px;
    background-color: lightslategray;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}

.registerClient:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.buttonDeleteClient{
    cursor: pointer;
    width: 15%;
    height: 26px;
    background-color: lightslategray;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}

.buttonDeleteClient:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.buttonExitClient{
    cursor: pointer;
    width: 15%;
    height: 26px;
    background-color: lightslategray;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}

.buttonExitClient:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.buttonEditClient{
    cursor: pointer;
    width: 15%;
    height: 26px;
    background-color: lightslategray;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}

.buttonEditClient:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.btnbtn{
    gap: 15px;
    justify-content: center;
    display: flex;
    margin-top: 10%;
    width: 65%;
}

.submitEditClient{
    cursor: pointer;
    width: 15%;
    height: 26px;
    background-color: lightslategray;
    border: none;
}
.outPageEditClient{
    cursor: pointer;
    width: 15%;
    height: 26px;
    background-color: lightslategray;
    border: none;
}
