
.containerLogistica{
  background-color: darkgray;
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.929);
  width: 76%;
  height: 550px;
  margin-left: 20%;
  margin-top: 1.2%;
  flex-direction: column;
  justify-content: space-between;
}
.logisticsMainTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.orders{
  margin-left: 0.5%;
  display: flex;
  background-color:  darkgray;
  width:60%;
  height: 250px;
  overflow: auto;
  border: 2px solid white;
}


.need{
  margin-right: 0.5%;
  display: flex;
  background-color:  darkgray;
  width:30%;
  height: 200px;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}
#tableGoodsVsRequestPending{
  width:70%;
}
#tableGoodsVsRequestPending th{
  width: 100%;
}
#tableGoodsVsRequestPending td{
  width: 100%;
}


.logisticsMainBottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.validadeFamily{
  width:70%;
  height: 220px;
  border: 2px solid white;
}

thead{
  width:10%;
}