

.btnLogistic{
  margin-top: 3%;
  width: 90%;
  height: 35px;
  border: none;
  background-color: rgb(100, 137, 189);
  cursor: pointer;
  margin-right: 2.5%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s, transform 0.4s;
}
  .btnLogistic:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
  }

.containerLogistica{
  background-color: darkgray;
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.929);
  width: 76%;
  height: 550px;
  margin-left: 22%;
  margin-top: 1.2%;
  flex-direction: column;
  justify-content: space-between;
  border: solid , 2px , white;
  padding: 7px;
  border-radius: 10px;
}
p{
  font-size: 17px;
}
.logisticsMainTop{
    display: flex;
    gap: 0.5%;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
}
.orders{
  display: flex;
  background-color:  darkgray;
  width:60%;
  height: 270px;
  overflow: auto;
  border: 2px solid white;
}
.orders #tableWithAllLocation{
  height:50px;
  border-collapse: collapse;
}
.orders #tableWithAllLocation th,
.orders #tableWithAllLocation td{
  padding: 10px;
  text-align: left;
}

.need{
  display: flex;
  background-color:  darkgray;
  width:50%;
  height: 200px;
  border: 2px solid white;
}
.need #tableGoodsVsRequestPending {
  height:50px;
  border-collapse: collapse;
}

.need #tableGoodsVsRequestPending th,
.need #tableGoodsVsRequestPending td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  width: 50%;
}

.need #tableGoodsVsRequestPending thead {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
}

.logisticsMainBottom{
  display: flex;
  gap: 0.5%;
  flex-direction: row;
  justify-content: space-between;
}

.validadeFamily{
  overflow: auto;
  width:65%;
  height: 270px;
  border: 2px solid white;
}
.linkDrive{
  overflow: auto;
  width: 50%;
  height: 270px;
  border: 2px solid white;
}

.linkDriver.listDriver{
   height: 50px;
}

/* modal para vincular o bem a locação */
.modal{
  background-color: darkgray;
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.929);
  width: 76%;
  height: 550px;
  margin-left: 22%;
  margin-top: 1.2%;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid white;
  padding: 7px;
  border-radius: 10px;
}
#bensDisponiveis{
  overflow: auto;
}
.OutScreenLinkGoods{
  margin-top: 1%;
  cursor: pointer;
  width: 100px;
  background-color: lightslategray;
  border: none;
  height: 27px;
}