<section class=" containerLogistica d-flex flex-column justify-content-between  bg-secondary text-white shadow p-2 rounded" style="display: none; width: 76%; height: 550px; margin-left: 22%; margin-top: 1.2%; border: 2px solid white;">
    <div class=" logisticsMainTop d-flex justify-content-between align-items-start mb-2" style="height: 70px; gap: 0.5%;">
      
      <div class=" orders d-flex bg-secondary border border-white overflow-auto" style="width: 60%; height: 255px;">
        <!-- table de locação pendente -->
      </div>
  
      <button class="btn p-1 ms-2" id="btnFilter" title="Filtrar Locações" style="background: none; border: none; font-size: 24px; color: #333;">
        <i class="bi bi-filter"></i>
      </button>
  
      <div class=" need d-flex flex-column bg-secondary border border-white p-2 text-white" style="width: 50%; height: 200px;">
        <h5>Necessidade vs Disponibilidade</h5>
        <!-- Conteúdo da necessidade -->
      </div>
  
    </div>
  
    <div class="logisticsMainBottom d-flex justify-content-between" style="gap: 0.5%;">
      <div class=" validadeFamily overflow-auto border border-white" style="width: 65%; height: 270px;">
        <!-- validadeFamily -->
      </div>
      <div class="linkDrive overflow-auto border border-white p-2" style="width: 50%; height: 270px;">
        <h5>Motoristas</h5>
        <!-- linkDrive -->
      </div> 
    </div>
  </section>
  
  <section class=" modal d-flex flex-column justify-content-between bg-secondary text-white shadow p-4 rounded" style="display: none; width: 76%; height: 550px; margin-left: 22%; margin-top: 8%; border: 2px solid white;">
    <!-- informações para lincar o bem na locação -->
  </section>
  