

.btnLogistic{
  margin-top: 3%;
  width: 90%;
  height: 35px;
  border: none;
  background-color: rgb(100, 137, 189);
  cursor: pointer;
  margin-right: 2.5%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.2s, transform 0.4s;
}
  .btnLogistic:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
  }

.containerLogistica{
  background-color: darkgray;
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.929);
  width: 76%;
  height: 550px;
  margin-left: 20%;
  margin-top: 1.2%;
  flex-direction: column;
  justify-content: space-between;
}
.logisticsMainTop{
    display: flex;
    gap: 0.5%;
    flex-direction: row;
    justify-content: space-between;
}
.orders{
  display: flex;
  background-color:  darkgray;
  width:60%;
  height: 250px;
  overflow: auto;
  border: 2px solid white;
}


.need{
  display: flex;
  background-color:  darkgray;
  width:50%;
  height: 200px;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}
#tableGoodsVsRequestPending{
  width: 100%;
}
#tableGoodsVsRequestPending th{
  width: 100%;
}
#tableGoodsVsRequestPending td{
  width: 100%;
}


.logisticsMainBottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.validadeFamily{
  overflow: auto;
  width:70%;
  height: 220px;
  border: 2px solid white;
}

thead{
  width:10%;
}
/* modal para vincular o bem a locação */
.modal{
  background-color: darkgray;
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.929);
  width: 76%;
  height: 550px;
  margin-left: 20%;
  margin-top: 1.2%;
  flex-direction: column;
  justify-content: space-between;
}
.modal-content{
  overflow: auto;
}
.OutScreenLinkGoods{
  margin-top: 1%;
  cursor: pointer;
  width: 100px;
  background-color: lightslategray;
  border: none;
  height: 27px;
}