<section class="deliveryFinish d-flex flex-column justify-content-between bg-secondary bg-opacity-75 text-white shadow rounded"
style="display: none; width: 76%; height: 550px; margin-left: 22%; margin-top: 1%; padding: 5px; border: 2px solid white;">
  <h2 class="text-center mb-3">Lista de Entregas</h2>
    <div class="containerTableDelivery  flex-grow-2 overflow-auto">

      <div class="table-responsive">
        <table id="tableDelivery" class="table table-bordered table-hover table-striped text-dark ">
          <thead class="table-dark">
            <tr>
              <th scope="col">Código</th>
              <th scope="col">ID do bem</th>
              <th scope="col">Nome Cliente</th>
              <th scope="col">Número locação</th>
              <th scope="col">Data e Hora</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
        
    </div>
      
    <div class="containerDelivery mt-3 text-dark" style="display: none;" >
        <!-- DETALHES -->
    </div>

    <div class="buttonPageDelivey d-flex justify-content-between ">
      <button class="outPageDelivey btn btn-light text-dark fw-semibold border" style="width: 20%;">Voltar</button>
      <button class="DevolutionDay btn btn-light text-dark fw-semibold border">Devolução</button>
    </div>

    <div class="devolutionTheDay mt-4">

    </div>
    
  </section>
 
  