<section class="deliveryFinish d-flex flex-column justify-content-between bg-white bg-opacity-75 text-white shadow rounded position-relative"
style="display: none; width: 76%; height: 550px; margin-left: 22%; margin-top: 1%; padding: 5px; border: 2px solid #1d5e1d;">

   <button type="button" 
        class="btn btn-danger text-dark btn-sm p-0 position-absolute top-0 end-0 m-2 rounded-circle d-flex align-items-center justify-content-center" 
        aria-label="Fechar" style="width: 32px; height: 32px;" id="outPageDelivey">
       <i class="bi bi-x fs-5"></i>
     </button>

  <h2 class="text-center mb-3">Lista de Entregas</h2>
    <div class="containerTableDelivery  flex-grow-2 overflow-auto">

      <div class="table-responsive">
        <table id="tableDelivery" class="table table-bordered table-hover table-striped text-dark ">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">ID do bem</th>
              <th scope="col">Nome Cliente</th>
              <th scope="col">Número locação</th>
              <th scope="col">Status</th>
              <th scope="col">Data da locação</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
        
    </div>
      
    <div class="containerDelivery mt-3 text-dark" style="display: none;" >
        <!-- DETALHES -->
    </div>

  </section>
 
  