.deliveryFinish{
    background-color: darkgray;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.929);
    width: 76%;
    height: 550px;
    margin-left: 22%;
    margin-top: 1.2%;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px;
    border: solid , 2px , white;
    border-radius: 10px;
}
.delivery{
    width: 90%;
    height: 35px;
    border: none;
    background-color: rgb(100, 137, 189);
    cursor: pointer;
    margin-right: 2.5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.delivery:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}

.containerTableDelivery{
    overflow: auto;
}
.btnOutPageListLocationForDelivery{
    cursor: pointer;
    width: 120px;
    background-color: lightslategray;
    border: none;
    height: 27px;
    margin-left: 3%;
    margin-top: 1.5%;
}

.containerDelivery{
    height: 470px;
    padding: 7px;
}

.btnOutDelivery{
    cursor: pointer;
    width: 120px;
    background-color: lightslategray;
    border: none;
    height: 27px;
    margin-left: 3%;
}

.btnImprimirDelivery{
    cursor: pointer;
    width: 120px;
    background-color: lightslategray;
    border: none;
    height: 27px;
    margin-left: 3%;
}

