
.listingAutomo{
  max-height: 75vh;
  overflow: auto;
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.tableVehicles{
    font-size: 0.85rem;
  color: #000;
}
.tableVehicles td{
  background-color:#f8f9fa;
   color: #212529;
   word-break: break-word;
  white-space: normal;
}
.tableVehicles td ,
.tableVehicles th{
vertical-align: middle;
  white-space: normal;
}

.tableVehicles th{
    background-color: #1f2937;
    color: white;
}
.foorm{
    margin-bottom: 10%;
}
.foormEditVeicu{
    margin-bottom: 10%;
}

