.containerAppAutomo{
    display: none;
    background-color: darkgray;
    box-shadow:4px 5px 8px rgba(0, 0, 0, 0.929) ;
    width: 76%;
    height: 550px;
    margin-left: 20%;
    margin-top:1.2% ;
    flex-direction: column;
    justify-content: space-between;
}
.listingAutomo{
    overflow: auto;
}
.btnInitAutoPageMain{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5%;
}
.registerAuto{
    cursor: pointer;
    width:15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:27px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.registerAuto:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}
.buttonDeleteAuto{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:27px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.buttonDeleteAuto:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}
.buttonEditAuto{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:27px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.buttonEditAuto:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}
.buttonExitAuto{
    cursor: pointer;
    width: 15%;
    margin-bottom: 2%;
    background-color: lightslategray; 
    border: none;
    height:27px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.2s, transform 0.4s;
}
.buttonExitAuto:active{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(6px);
}
.cadAutomo{
    cursor: pointer;
    width: 15%;
    height: 26px;
    background-color: lightslategray;
    border: none;
}
.cadAutomoEdit{
    cursor: pointer;
    width: 15%;
    height: 26px;
    background-color: lightslategray;
    border: none;
}
.btnOutCadAuto{
    cursor: pointer;
    width: 15%;
    height: 26px;
    background-color: lightslategray;
    border: none;
}

.btnOutCadAutoEdit{
    cursor: pointer;
    width: 15%;
    height: 26px;
    background-color: lightslategray;
    border: none;
}