<section class="containerAppClientInterprise d-flex flex-column justify-content-between bg-secondary bg-opacity-75 text-white shadow rounded"
style="display: none; width: 76%; height: 550px; margin-left: 22%; margin-top: 1%; padding: 5px; border: 2px solid white;">


 <div class="listClientInterprise mb-3">
      <!-- informações do cadastro do client -->
    </div>
  
    <!-- Botões principais -->
    <div class="buttonsMainPage d-flex flex-wrap justify-content-center align-items-center gap-3 mb-3">
      <button class="registerResiduo btn btn-primary text-dark fw-semibold">Incluir</button>
      <button class="buttonDeleteResiduo btn btn-danger text-dark fw-semibold">Excluir</button>
      <button class="buttonEditClient btn btn-warning text-dark fw-semibold">Editar</button>
      <button class="buttonExitResiduo btn btn-light text-dark fw-semibold border">Voltar</button>
    </div>


</section>