
.hidden {
    display: none !important;
  }

  .flex {
    display: flex !important;
  }

.listingDriver{
   max-height: 75vh;
  overflow: auto;
  padding: 0.75rem;
  border-radius: 0.5rem;
}
.tableDriver{
 font-size: 0.85rem;
  color: #000;
}
.tableDriver td{
    background-color:#f8f9fa !important; 
   color: #212529;
   word-break: break-word;
  white-space: normal;
}

.tableDriver thead th{
    background-color:#1f2937 !important ;
}

.tableDriver td ,
.tableDriver th{
  vertical-align: middle;
  white-space: normal;
}

.RegisterDriver{
    overflow: auto;
}

