<section class="containerAppDriver  d-flex flex-column justify-content-between bg-secondary bg-opacity-75 text-white shadow rounded position-relative"
style="display: none; width: 76%; height: 550px; margin-left: 22%; margin-top: 1%; padding: 5px; border: 2px solid white;">

    <button type="button" 
        class="btn btn-outline-danger btn-sm p-0 position-absolute top-0 end-0 m-2 rounded-circle d-flex align-items-center justify-content-center" 
        aria-label="Fechar" style="width: 32px; height: 32px;" id="buttonExitDriver">
      <i class="bi bi-x fs-5"></i>
   </button>

    <div class="listingDriver mb-3 mt-4">
      <!-- informações -->
    </div>
  
    <div class="btnInitPageMain d-flex justify-content-center gap-3 mb-4">
      <button class="registerDriver text-dark fw-semibold btn btn-primary">Incluir</button>
      <button class="buttonDeleteDriver btn btn-danger text-dark fw-semibold">Excluir</button>
      <button class="buttonEditDriver btn btn-warning text-dark fw-semibold">Editar</button>
      <button class="btn btn-light text-dark fw-semibold" id="searchDriver"><i class="bi bi-search me-2"></i>Buscar</button>
    </div>

    <!-- POP UP DE PESQUISA -->
<div class="popupBackDrop position-fixed top-0 start-0 w-100 h-100 bg-dark opacity-50" style="display: none; z-index: 1050;"></div>
 <div class="searchIdDriver position-fixed top-50 start-50 translate-middle bg-white border rounded-4 p-4 shadow-lg w-100 mx-3 flex-column" style="display: none; max-width: 500px; z-index: 1055;">

  <!-- Cabeçalho -->
    <div class="text-center mb-4">
      <h5 class="fw-bold text-dark">
       <i class="bi bi-search text-primary me-2"></i>Pesquise por Motorista
     </h5>
     <p class="text-muted mb-0 small">Filtre por código , situação ou status</p>
   </div>

  <!-- Campo Código -->
  <div class="form-floating mb-3 position-relative">
    <input type="text" name="codeDriver" id="codeDriver" class="form-control ps-5" placeholder="Código do cliente" maxlength="15" />
    <label for="codeDriver"><i class="bi bi-hash me-1"></i> Código do Motorista</label>
  </div>

  <!-- Campo Status -->
  <div class="form-floating mb-4 position-relative">
    <select name="statusInDriver" id="statusInDriver" class="form-select ps-5">
      <option value="" selected>Selecione...</option>
      <option value="Disponivel">Disponível</option>
      <option value="Indisponivel">Indisponivel</option>
      <option value="Entrega destinada">Entrega Destinada</option>
    </select>
    <label for="statusInDriver"><i class="bi bi-ui-checks me-1"></i>Status</label>
  </div>

  <div class="form-floating mb-4 position-relative">
    <select name="situationInDriver" id="situationInDriver" class="form-select ps-5">
      <option value="" selected>Selecione...</option>
      <option value="Interno">Interno</option>
      <option value="Externo">Externo</option>
    </select>
    <label for="situationInDriver"><i class="bi bi-ui-checks me-1"></i>Situação</label>
  </div>

  <!-- Botões -->
  <div class="d-flex flex-column flex-sm-row justify-content-between gap-2">
    <button class="btn btn-primary w-100 w-sm-50 submitSearchDriver">
      <i class="bi bi-search me-1"></i> Pesquisar
    </button>
    <button class="btn btn-light w-100 w-sm-50 outPageSearchDriver">
      <i class="bi bi-arrow-left me-1"></i> Voltar
    </button>
  </div>
</div>
  
<!-- Cadastro de motorista form -->
<div class="RegisterDriver container py-4 rounded-3 shadow-sm" style="display: none;">
  <form class="formRegisterDriver" class="rounded-4 p-4">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
    
    <!-- Código -->
    <div class="col">
      <label for="motoCode" class="form-label">Código</label>
      <input type="text" name="motoCode" id="motoCode" class="form-control form-control-sm" placeholder="Código" maxlength="15" />
    </div>

    <!-- Nome -->
    <div class="col">
      <label for="motoNome" class="form-label">Nome</label>
      <input type="text" name="motoNome" id="motoNome" class="form-control form-control-sm" placeholder="Nome" maxlength="80" />
    </div>

    <!-- Data de Nascimento -->
    <div class="col">
      <label for="motoDtnc" class="form-label">Nascimento</label>
      <input type="date" name="motoDtnc" id="motoDtnc" class="form-control form-control-sm" />
    </div>

    <!-- CPF -->
    <div class="col">
      <label for="motoCpf" class="form-label">CPF</label>
      <input type="text" name="motoCpf" id="motoCpf" class="form-control form-control-sm" placeholder="CPF" maxlength="14" />
    </div>

    <!-- Emissão CNH -->
    <div class="col">
      <label for="motoDtch" class="form-label">Emissão CNH</label>
      <input type="date" name="motoDtch" id="motoDtch" class="form-control form-control-sm" />
    </div>

    <!-- Categoria CNH -->
    <div class="col">
      <label for="motoctch" class="form-label">Categoria CNH</label>
      <select class="form-select form-select-sm" name="motoctch" id="motoctch">
        <option>Selecione...</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
        <option value="A,B">A, B</option>
        <option value="B,C">B, C</option>
        <option value="A,C">A, C</option>
      </select>
    </div>

    <!-- Vencimento CNH -->
    <div class="col">
      <label for="motoDtvc" class="form-label">Vencimento CNH</label>
      <input type="date" name="motoDtvc" id="motoDtvc" class="form-control form-control-sm" />
    </div>

    <!-- Restrições -->
    <div class="col">
      <label for="motoRest" class="form-label">Restrições</label>
      <input type="text" name="motoRest" id="motoRest" class="form-control form-control-sm" placeholder="Restrições" maxlength="40" />
    </div>

    <!-- Órgão Emissor -->
    <div class="col">
      <label for="motoOrem" class="form-label">Órgão Emissor</label>
      <input type="text" name="motoOrem" id="motoOrem" class="form-control form-control-sm" placeholder="Órgão Emissor" maxlength="40" />
    </div>

    <!-- Celular -->
    <div class="col">
      <label for="motoCelu" class="form-label">Celular</label>
      <input type="text" name="motoCelu" id="motoCelu" class="form-control form-control-sm" placeholder="Celular" maxlength="40" />
    </div>

    <!-- CEP -->
    <div class="col">
      <label for="motoCep" class="form-label">CEP</label>
      <input type="text" name="motoCep" id="motoCep" class="form-control form-control-sm" placeholder="CEP" maxlength="9" />
    </div>

    <!-- Rua -->
    <div class="col">
      <label for="motoRua" class="form-label">Rua</label>
      <input type="text" name="motoRua" id="motoRua" class="form-control form-control-sm" placeholder="Rua" maxlength="50" readonly />
    </div>

    <!-- Cidade -->
    <div class="col">
      <label for="motoCity" class="form-label">Cidade</label>
      <input type="text" name="motoCity" id="motoCity" class="form-control form-control-sm" placeholder="Cidade" maxlength="25" readonly />
    </div>

    <!-- Estado -->
    <div class="col">
      <label for="motoEstd" class="form-label">Estado</label>
      <input type="text" name="motoEstd" id="motoEstd" class="form-control form-control-sm" placeholder="Estado" maxlength="20" readonly />
    </div>

    <!-- E-mail -->
    <div class="col">
      <label for="motoMail" class="form-label">E-mail</label>
      <input type="email" name="motoMail" id="motoMail" class="form-control form-control-sm" placeholder="E-mail" maxlength="35" />
    </div>

    <!-- Status -->
    <div class="col">
      <label for="motoStat" class="form-label">Status</label>
      <select name="motoStat" id="motoStat" class="form-select form-select-sm">
        <option value="">Selecione...</option>
        <option value="Disponivel">Disponível</option>
        <option value="Indisponivel">Indisponível</option>
      </select>
    </div>

    <!-- Situação -->
    <div class="col">
      <label for="motoSitu" class="form-label">Situação</label>
      <select name="motoSitu" id="motoSitu" class="form-select form-select-sm">
        <option value="">Selecione...</option>
        <option value="Interno">Interno</option>
        <option value="Externo">Externo</option>
      </select>
    </div>

    <!-- Senha -->
    <div class="col">
      <label for="motoPasw" class="form-label">Criar Senha</label>
      <input type="text" name="motoPasw" id="motoPasw" class="form-control form-control-sm" placeholder="Senha" maxlength="80" required />
    </div>

    <!-- Botões -->
    <div class="col-12 d-flex justify-content-center gap-3 mt-3">
      <button type="button" class="cadDriver btn btn-success px-4">
        <i class="bi bi-check-circle me-2"></i>Cadastrar
      </button>
      <button type="button" class="btnOutPageRegister btn btn-secondary px-4">
        <i class="bi bi-arrow-left me-2"></i>Voltar
      </button>
    </div>

  </div>
</form>


</div>


    <!-- FORMULARIO DE EDIÇÃO -->

    <div class="containerFormEditDriver container border border-secondary-subtle rounded-3 py-4 px-3" style="display: none;">
    <form class="formEditDriver">
    <div class="row g-3">

      <div class="col-md-3">
        <label for="editMotoCode" class="form-label">Código</label>
        <input type="text" class="form-control" name="editMotoCode" id="editMotoCode" placeholder="Código" maxlength="15" readonly>
      </div>

      <div class="col-md-5"> 
        <label for="editMotoNome" class="form-label">Nome</label>
        <input type="text" class="form-control" name="editMotoNome" id="editMotoNome" placeholder="nome" maxlength="80" readonly>
      </div>

      <div class="col-md-4">
        <label for="editMotoDtnc" class="form-label">Data de nascimento</label>
        <input type="date" class="form-control" name="editMotoDtnc" id="editMotoDtnc" readonly>
      </div>

      <div class="col-md-3">
        <label for="editMotoCpf" class="form-label">CPF</label>
        <input type="text" class="form-control" name="editMotoCpf" id="editMotoCpf" placeholder="CPF" maxlength="14" readonly>
      </div>

      <div class="col-md-3">
        <label for="editMotoDtch" class="form-label">Data de emissão</label>
        <input type="date" class="form-control" name="editMotoDtch" id="editMotoDtch" readonly>
      </div>

      <div class="col-md-3">
        <label for="editMotoCtch" class="form-label">Categoria da CNH</label>
        <select class="form-select form-select-sm" name="editMotoCtch" id="editMotoCtch">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="A,B">A, B</option>
          <option value="B,C">B, C</option>
          <option value="A,C">A, C</option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="editMotoDtvc" class="form-label">Data de vencimento</label>
        <input type="date" class="form-control" name="editMotoDtvc" id="editMotoDtvc" readonly>
      </div>

      <div class="col-md-4">
        <label for="editMotoRest" class="form-label">Restrições</label>
        <input type="text" class="form-control" name="editMotoRest" id="editMotoRest" placeholder="Restrições" maxlength="40">
      </div>

      <div class="col-md-4">
        <label for="editMotoOrem" class="form-label">Orgão Emissor</label>
        <input type="text" class="form-control" name="editMotoOrem" id="editMotoOrem" placeholder="Orgão Emissor" maxlength="10">
      </div>

      <div class="col-md-4">
        <label for="editMotoCelu" class="form-label">Celular</label>
        <input type="text" class="form-control" name="editMotoCelu" id="editMotoCelu" placeholder="Celular" minlength="15">
      </div>

      <div class="col-md-3">
        <label for="editMotoCep" class="form-label">CEP</label>
        <input type="text" class="form-control" name="editMotoCep" id="editMotoCep" placeholder="CEP" minlength="9">
      </div>

      <div class="col-md-5">
        <label for="editMotoRua" class="form-label">Rua</label>
        <input type="text" class="form-control" name="editMotoRua" id="editMotoRua" placeholder="Rua" maxlength="100" readonly>
      </div>

      <div class="col-md-2">
        <label for="editMotoCity" class="form-label">Cidade</label>
        <input type="text" class="form-control" name="editMotoCity" id="editMotoCity" placeholder="Cidade" maxlength="25" readonly>
      </div>

      <div class="col-md-2">
        <label for="editMotoEstd" class="form-label">Estado</label>
        <input type="text" class="form-control" name="editMotoEstd" id="editMotoEstd" placeholder="Estado" maxlength="30" readonly>
      </div>

      <div class="col-md-4">
        <label for="editMotoMail" class="form-label">E-mail</label>
        <input type="email" class="form-control" name="editMotoMail" id="editMotoMail" placeholder="E-mail" maxlength="35">
      </div>

      <div class="col-md-4">
        <label for="editMotoStat" class="form-label">Status</label>
        <select class="form-select form-select-sm" name="editMotoStat" id="editMotoStat" disabled>
          <option value="Disponivel">Disponível</option>
          <option value="Entrega destinada">Entrega destinada</option>
          <option value="Indisponivel">Indisponível</option>
        </select>
        <input type="hidden" name="editMotoStat" id="editMotoStatHidden" />
      </div>

      <div class="col-md-4">
        <label for="motoSituEdit" class="form-label">Situação</label>
         <select name="motoSituEdit" id="motoSituEdit" class="form-select form-select-sm" disabled>
           <option value="Interno">Interno</option>
           <option value="Externo">Externo</option>
         </select>
         <input type="hidden" name="motoSituEdit" id="motoSituEditHidden" />
      </div>

      <div class="col-12 d-flex justify-content-center gap-3 pt-4">
        <button type="submit" class="btn btn-success w-25 cadDriverEdit">Salvar</button>
        <button type="button" class="btn btn-secondary w-25 btnOutPageRegisterEdit">Voltar</button>
      </div>

     </div>
   </form>
 </div> 
</section>
  